<form
  action="{{ form_action }}"
  method="POST"
  data-turbo="false"
>
  <input type="hidden" name="node_mid" value="{{ node_mid }}"/>
  <input type="hidden" name="field_name" value="{{ field_name }}"/>

  {%- with
    field_class_name=none,
    field_editable=true,
    field_input_name="field_value",
    field_label=field_name,
    field_placeholder="Enter "~field_name~" here...",
    field_type=field_type,
    field_value=current_value,
    testid_postfix=field_name,
    errors=[]
  -%}
    {%- include "components/form/field/contenteditable/index.jinja" %}
  {%- endwith -%}

</form>
