{# Multiline field edit body. Expects: field_name, current_value, optional errors #}
{%- with
  field_class_name=none,
  field_editable=true,
  field_input_name="field_value",
  field_label=field_name,
  field_placeholder="Enter "~field_name~" here...",
  field_type="multiline",
  field_value=current_value,
  testid_postfix=field_name,
  errors=errors if errors is defined else []
-%}
  {%- include "components/form/field/contenteditable/index.jinja" %}
{%- endwith -%}
