{% set template_type = 'Project configuration' %}

{% extends "base.jinja.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ view_object.render_static_url('project_tree.css') }}"/>
{% endblock head_css %}

{% block head_scripts %}
  {{ super() }}
  <script src="{{ view_object.render_static_url('path_reveal.js') }}" defer></script>
  {% if view_object.is_running_on_server %}
    <script src="{{ view_object.render_static_url('modal.js') }}"></script>
  {% endif %}
{% endblock head_scripts %}

{% block title %}
  {{ view_object.project_config.project_title }} - {{ template_type }}
{% endblock title %}

{% block viewtype %}project-configuration{% endblock viewtype %}

{% block layout_nav %}
  {% include "_shared/nav.jinja.html" %}
{% endblock layout_nav %}

{% block header_content %}
  {%- with header__pagetype=template_type -%}
    {% include "components/header/index.jinja" %}
  {%- endwith -%}
{% endblock header_content %}

{% block main_content %}
  {% include "features/project_configuration/main.jinja" %}
{% endblock main_content %}
