{% extends "components/modal/form.jinja" %}
  {#
    Can be defined by calling the Confirm:
    confirm_title
    confirm_message
  #}
{% block modal_form__header %}
  {{ confirm_title|default("Are you sure?") }}
{% endblock modal_form__header %}
{% block modal_form__content %}
<sdoc-modal-message data-testid="confirm-message">
  {{ confirm_message|default(
    "This is an unrecoverable action."
  ) }}
</sdoc-modal-message>
{% if confirm_validation_message is defined %}
<sdoc-modal-validation-message data-testid="confirm-validation-message">
  {{ confirm_validation_message }}
</sdoc-modal-validation-message>
{% endif %}
{% endblock modal_form__content %}
{% block modal_form__footer_submit %}
  {#
    Must be defined by calling the Confirm:
    confirm_href

    Can be defined by calling the Confirm:
    confirm_button_name
    confirm_turbo_method
    confirm_action_type
  #}
  {% if confirm_validation_message is defined %}
    {#
      the confirm_validation_message means that no further action is allowed
    #}
    {% set confirm_href = '' %}
  {% endif %}
  {% include "components/button/confirm.jinja" %}
{% endblock modal_form__footer_submit %}
