{#
    Has an empty container and a Close button.
#}
<turbo-frame data-js-modal>
  <sdoc-backdrop>
      <sdoc-modal
        context="{%- block modal__context -%}{%- endblock -%}"
        data-testid="{%- block modal__testid -%}modal{%- endblock -%}"
      >
        <sdoc-modal-header data-testid="modal-header">
        {%- block modal_header -%}
          {#- must be present in the DOM, but empty if no content is provided -#}
        {%- endblock -%}
        </sdoc-modal-header>
        <sdoc-modal-container>
        {%- block modal_container %}{% endblock -%}
        </sdoc-modal-container>
        <sdoc-modal-footer>
          {%- with cancel_name="Close" -%}
            {% include "components/button/cancel.jinja" %}
          {%- endwith -%}
          {%- block modal_footer_actions -%}{%- endblock -%}
        </sdoc-modal-footer>
      </sdoc-modal>
  </sdoc-backdrop>
</turbo-frame>
