<turbo-frame data-controller="modal_controller">
  {#
    form = "sdoc_modal_form"
    This is the ID of the form, defined in the parent template,
  affects the modal window. If a form appears in the modal window,
  this identifier is passed to the form and to the submit,
  to bind the form and the submit located outside the form.
  #}
  {% set form = "sdoc_modal_form" %}
  <sdoc-backdrop>
      <sdoc-modal>
        <sdoc-modal-header>
          {% block modal_form__header %}{% endblock %}
        </sdoc-modal-header>
        <sdoc-modal-content>
          {% block modal_form__content %}{% endblock %}
        </sdoc-modal-content>
        <sdoc-modal-footer>
          {% block modal_form__footer_extra %}{% endblock %}
          {% block modal_form__footer_submit %}
            {% include 'components/button/submit.jinja' %}
          {% endblock %}
          {% block modal_form__footer_cancel %}
            {% include 'components/button/cancel.jinja' %}
          {% endblock %}
        </sdoc-modal-footer>
      </sdoc-modal>
  </sdoc-backdrop>
</turbo-frame>
