{#
  In this template:
  sdoc_entity = section
#}

<sdoc-section>
  {# Use h/print, it contains anchor: #}
  {% include "components/node_field/section_h/pdf.jinja" %}
  {% include "components/node_field/uid_standalone/index.jinja" %}
</sdoc-section>
