{#
  In this template:
  sdoc_entity = section
#}

<sdoc-section>
  {# Use h/print, it contains anchor: #}
  {% include "components/section/h/pdf.jinja" %}
  {% include "components/section/uid/index.jinja" %}
  {% include "components/section/text/index.jinja" %}
</sdoc-section>
