{% extends "components/modal/index.jinja" %}
{%- block modal_container %}
  {% include "components/requirement/index.jinja" %}
{% endblock %}
  {# <sdoc-requirement-uid>
  {{ requirement.reserved_uid }}
  </sdoc-requirement-uid> #}
