<turbo-frame id="header_document_title">
  {% include "icons/ico16_document.svg" %}
  <div
    class="header__document_title"
    title="{{ view_object.document.title }}"
  >
    {{ view_object.document.title }}
  </div>
</turbo-frame>
