
<div class="project_tree_with_ad">
  {% include "screens/document/_shared/frame_aside_project_tree.jinja.html" %}
  {#
    by https://docs.readthedocs.com/platform/stable/advertising/ad-customization.html
  #}
  <div id="ethical-ad-placement"></div>
</div>
