<div class="viewtype">
  <div
    id="viewtype_handler"
    class="viewtype__handler"
    data-dropdown-handler
    aria-expanded="false"
    aria-controls="viewtype_menu"
  >
    <span>{{ view_object.get_page_title() }}</span>
    {% include "icons/ico16_expand.svg" %}
  </div>
  <menu
    id="viewtype_menu"
    class="dropdown_menu"
    aria-hidden="true"
    aria-labelledby="viewtype_handler"
  >
    <li class="dropdown_menu_header">VIEWS</li>
    <li>
      <a
        data-viewtype_link="document"
        class="dropdown_menu_item"
        title="Go to Document view"
        href="{{ view_object.render_document_link(view_object.document, none, "DOCUMENT") }}">
      Document</a>
    </li>
    {%- if view_object.project_config.is_activated_table_screen() -%}
    <li>
      <a
        data-viewtype_link="table"
        class="dropdown_menu_item"
        title="Go to Table view"
        href="{{ view_object.render_document_link(view_object.document, none, "TABLE") }}">
      Table</a>
    </li>
    {%- endif -%}
    {%- if view_object.project_config.is_activated_trace_screen() -%}
    <li>
      <a
        data-viewtype_link="traceability"
        class="dropdown_menu_item"
        title="Go to Traceability view"
        href="{{ view_object.render_document_link(view_object.document, none, "TRACE") }}">
      Traceability</a>
    </li>
    {%- endif -%}
    {%- if view_object.project_config.is_activated_deep_trace_screen() -%}
    <li>
      <a
        data-viewtype_link="deep_traceability"
        class="dropdown_menu_item"
        title="Go to Deep Traceability view"
        href="{{ view_object.render_document_link(view_object.document, none, "DEEPTRACE") }}">
      Deep Traceability</a>
    </li>
    {%- endif -%}
    {%- if view_object.project_config.is_activated_html2pdf() -%}
    <li>
      <a
        data-viewtype_link="html2pdf"
        class="dropdown_menu_item"
        title="Go to PDF view"
        href="{{ view_object.render_document_link(view_object.document, none, "PDF") }}">
      PDF</a>
    </li>
    {%- endif -%}
  </menu>
</div>
