{%- if requirement.reserved_statement -%}
  {%- if truncated_statement is true -%}
    {# truncated in DTR tiny card #}
    <sdoc-requirement-field data-field-label="statement">
      <sdoc-autogen>{{ renderer.render_truncated_requirement_statement(requirement) }}</sdoc-autogen>
    </sdoc-requirement-field>
  {%- else -%}
    {# default with label #}
    <sdoc-requirement-field-label>{{ requirement.get_field_human_title("STATEMENT") }}:</sdoc-requirement-field-label>
    <sdoc-requirement-field
      data-field-label="statement"
    >
      {%- with field_content = renderer.render_requirement_statement(requirement) %}
        {%- include "components/field/index.jinja" -%}
      {%- endwith -%}
    </sdoc-requirement-field>
  {%- endif -%}
{%- endif -%}
