{% extends "components/modal/form.jinja" %}
{% set form = "sdoc_modal_form" %}
{% block modal__context %}{% endblock modal__context %}
{% block modal_form__header %}
Edit {{ field_name }}
{% endblock modal_form__header %}
{% block modal_form__content %}
  <form
    id="{{ form }}"
    action="/actions/table/update_node_field_multiline"
    method="POST"
    data-turbo="true"
  >
    <input type="hidden" name="node_mid" value="{{ node_mid }}"/>
    <input type="hidden" name="field_name" value="{{ field_name }}"/>
    <sdoc-form-grid>
      <sdoc-form-row>
        <sdoc-form-row-aside></sdoc-form-row-aside>
        <sdoc-form-row-main>
          {%- set errors = field_errors if field_errors is defined else [] %}
          {%- include "screens/document/table/field_edit_mode/field_body.jinja" %}
        </sdoc-form-row-main>
        <sdoc-form-row-aside></sdoc-form-row-aside>
      </sdoc-form-row>
    </sdoc-form-grid>
  </form>
{% endblock modal_form__content %}
{% block modal_form__footer_submit %}
  {%- with name="Save" -%}
    {% include "components/button/submit.jinja" %}
  {%- endwith -%}
{% endblock modal_form__footer_submit %}
