<template id="template-switch">
  <label class="switch">
    <span class="switch__label-text"></span>
    <input type="checkbox" class="switch__input">
    <span class="switch__slider"></span>
  </label>
</template>
