*.idea
**/build/
*.egg-info/
*.eggs
*.pyc
*.script
*.venv
.venv*
dist
.sandbox
.output/
output.zip
.output
*.sketch
.DS_Store
.vscode

### StrictDoc's default export path
output/**
developer/**/output/**
tests/unit_server/**/output/**

### LIT/FileCheck integration tests' artifacts. ###
tests/integration/**/Output/**
tests/integration/**/output/**
tests/integration/**/sandbox/
.lit_test_times.txt

### Coverage ###
.coverage
coverage.xml
htmlcov/

### PyInstaller ###
strictdoc.spec

### SeleniumBase ###
latest_logs/
# Files downloaded during tests are stored here.
downloaded_files/

