*.idea
**/build/
*.egg-info/
*.pyc
*.script
*.venv
dist
output.zip
*.sketch
.DS_Store
setup.py
.vscode

# StrictDoc's default export path
output/**
# LIT/FileCheck integration tests' artifacts.
tests/integration/**/Output/**
tests/integration/**/output/**
tests/integration/**/sandbox/**
.lit_test_times.txt

