[tool.poetry]
name = "strictdoc"
version = "0.0.19"
description = "Software for writing technical requirements and specifications."
authors = ["Stanislav Pankevich <s.pankevich@gmail.com>"]
maintainers = ["Stanislav Pankevich <s.pankevich@gmail.com>"]
license = "Apache 2"
readme = "README.md"
homepage = ""
repository = "https://github.com/stanislaw/strictdoc"
documentation = "https://strictdoc.readthedocs.io/en/latest/index.html"
keywords = [
    "Documentation",
    "Requirements management"
]

[tool.poetry.dependencies]
python = "^3.6.2"
dataclasses = { version = "^0.7", python=">=3.6,<3.7" }
textx = "2.3.0"
jinja2 = ">=2.11.2,<4.0"
docutils = "^0.16"
XlsxWriter = "^1.3.7"
python-datauri = "^0.2.9"
beautifulsoup4 = '^4.9.3'
pygments = "^2.10.0"
lxml = '^4.6.2'
reqif = '^0.0.18'

[tool.poetry.dev-dependencies]
coverage = "^5.4"
invoke = "1.4.1"
pytest = "^6.2.2"
lit = '0.11.0.post1'
mypy = "0.910"
filecheck = "0.0.20"
black = "21.9b0"
pylint = "2.11.1"
flake8 = "^3.9.2"
sphinx = '^3.2.1'
guzzle_sphinx_theme = "^0.7.11"
html5lib = '1.1'
pytidylib = '0.3.2'
openpyxl = '^3.0.5'

# https://python-poetry.org/blog/announcing-poetry-1-1-0.html#standalone-build-backend
# https://github.com/python-poetry/poetry/issues/3153#issuecomment-727196619
[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
strictdoc = "strictdoc.cli.main:main"

[tool.black]
line-length = 80

