dataclasses==0.7; python_version >= "3.6" and python_version < "3.7" and python_full_version >= "3.6.2" or python_version >= "3.6" and python_version < "3.7"
textx>=3.0.0
jinja2>=2.11.2,<3.0

# https://github.com/aws/aws-sam-cli/issues/3661#issuecomment-1044340547
MarkupSafe==2.0.1

docutils>=0.16
XlsxWriter>=1.3.7
python-datauri>=0.2.9
beautifulsoup4>=4.9.3
pygments>=2.10.0
lxml>=4.6.2
reqif>=0.0.18
