toml

# Lint
mypy>=0.910
ruff

# Unit tests
pytest>=6.2.2
# Pytest fixture that provides fake file system for testing code that accesses
# file systems.
pyfakefs>=4.5.5
coverage>=5.4
# httpx is needed for running server-related unit tests.
httpx

# Integration tests
lit>=0.11.0.post1
filecheck>=0.0.20
pytidylib>=0.3.2
openpyxl>=3.0.5

# End2end tests
seleniumbase

# psutil is needed to reap Uvicorn's zombie processes when running end2end
# tests. One day someone finds a better solution.
psutil

# Used by the dead links checker
requests>=2.27.1

# Test HTML2PDF-produced artifacts in the integration tests.
pypdf
