wheel
twine
coverage>=5.4
invoke>=1.4.1
pytest>=6.2.2
lit>=0.11.0.post1
mypy>=0.910
filecheck>=0.0.20
black>=21.9b0
pylint>=2.11.1
flake8>=3.9.2
sphinx>=3.2.1
guzzle_sphinx_theme~=0.7.11
html5lib>=1.1
pytidylib>=0.3.2
openpyxl>=3.0.5
pyfakefs>=4.5.5
requests>=2.27.1
watchdog>=2.1.7

# Server-related
seleniumbase
# httpx is needed for running server-related unit tests.
httpx
# psutil is needed to reap Uvicorn's zombie processes when running end2end
# tests. One day someone finds a better solution.
psutil
