[project]
title = "StrictDoc Documentation"

html_assets_strictdoc_dir = "assets"
cache_dir = "./output/cache"

features = [
  # Stable features.
  "TABLE_SCREEN",
  "TRACEABILITY_SCREEN",
  "DEEP_TRACEABILITY_SCREEN",
  "SEARCH",

  # Stable features but not used by StrictDoc.
  # "MATHJAX"

  # Experimental features.
  "PROJECT_STATISTICS_SCREEN",
  # "REQIF",
  # "STANDALONE_DOCUMENT_SCREEN",
  "TRACEABILITY_MATRIX_SCREEN",
  "REQUIREMENT_TO_SOURCE_TRACEABILITY",
  "SOURCE_FILE_LANGUAGE_PARSERS",
  "HTML2PDF",
  "DIFF",
  "NESTOR",
]

include_doc_paths = [
  "docs/**",
  "docs_extra/**",
]

exclude_doc_paths = [
  "docs/sphinx/**",
  "tests/**",
]

include_source_paths = [
  "pyproject.toml",
  "tasks.py",
  "strictdoc/**.js",
  "strictdoc/**.py",
  "strictdoc/**.jinja.rst",
  "tests/integration/**itest",
  "tests/unit/**.py",
]

exclude_source_paths = [
  # StrictDoc (almost never) uses __init__ files.
  # The used files will be whitelisted include_source_paths.
  "**__init__.py",
  "build/**",
  "output/**",
  # FIXME: Figure out how to trace to these files.
  "tests/unit/strictdoc/backend/sdoc_source_code**"
]
