{%- set source_file = view_object.traceability_index.document_tree.source_tree.get_source_for_file(file) -%}

<tr class="project_coverage-file">
  <td style="padding-left:{{ folder.get_level() }}0px">
    <a
      class="project_coverage-file-link"
      {% if source_file.is_referenced -%}
        href="{{ view_object.link_renderer.render_source_file_link_from_root_2(source_file) }}"
      {%- endif -%}
    >
      <div class="project_coverage-file-icon">
        {%- include "_res/svg_ico16_file.jinja" -%}
      </div>
      <div class="project_coverage-file-details">
        <div class="project_coverage-file-title">
          {{ file.get_file_name() }}
        </div>
      </div>

    </a>
  </td>

  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>

  <td>
      {%- if source_file.is_referenced -%}
        {%- set range_reqs =
          view_object.traceability_index.get_source_file_reqs(source_file.in_doctree_source_file_rel_path_posix) -%}

        {%- if range_reqs -%}
          {%- set coverage_info =
            view_object.traceability_index.get_coverage_info(source_file.in_doctree_source_file_rel_path_posix) -%}
          {% with coverage_value = coverage_info.get_coverage() %}
            {% include "screens/source_file_coverage/value_bar.jinja" %}
          {% endwith %}

        {%- else -%}
          {% with coverage_value = none %}
            {% include "screens/source_file_coverage/value_bar.jinja" %}
          {% endwith %}
        {%- endif -%}

      {%- else -%}
        {% with coverage_value = none %}
          {% include "screens/source_file_coverage/value_bar.jinja" %}
        {% endwith %}
      {%- endif -%}
    </td>
</tr>
