{% extends "base.jinja.html" %}
{% set template_type = "Source coverage" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ view_object.render_static_url('source_coverage_screen.css') }}"/>
{% endblock head_css %}

{% block head_scripts %}
  {{ super() }}
  <script src="{{ view_object.render_static_url('source_coverage_screen.js') }}"></script>
{% endblock head_scripts %}

{% block title %}
  {{ view_object.project_config.project_title }} - {{ template_type }}
{% endblock title %}

{% block viewtype %}coverage-tree{% endblock viewtype %}

{% block layout_nav %}
  {% include "_shared/nav.jinja.html" %}
{% endblock layout_nav %}

{% block toc_content %}
{% endblock toc_content %}

{% block header_content %}
  {%- with header__pagetype=template_type -%}
    {% include "components/header/index.jinja" %}
  {%- endwith -%}
{% endblock header_content %}

{% block main_content %}
  {% include "screens/source_file_coverage/main.jinja" %}
{% endblock main_content %}
