<colgroup>
  <col />
  <col span="4" class="project_coverage-col-line" />
  <col span="3" class="project_coverage-col-func" />
</colgroup>
<thead>
  <tr>
    <th rowspan="2">File path</th>
    <th colspan="4" class="project_coverage-col-line">Code lines covered by&nbsp;requirements</th>
    {# <th class="project_coverage-col-line">Non-empty lines covered (percent):</th> #}
    {# <th colspan="2" class="project_coverage-col-line"><br/><br/>From lines:</th> #}
    {# <th class="project_coverage-col-line">Non-empty lines:</th> #}
    <th colspan="3" class="project_coverage-col-func">Functions covered by&nbsp;requirements</th>
    {# <th class="project_coverage-col-func">Functions covered (percent):</th> #}
    {# <th class="project_coverage-col-func"><br/><br/>From:</th> #}
    {# <th>(%%)</th> #}
  </tr>
  <tr>
    {# <th>File</th> #}
    <th class="project_coverage-col-line">%</th>
    <th class="project_coverage-col-line">#</th>
    <th class="project_coverage-col-line">Code LOC</th>
    <th class="project_coverage-col-line color-secondary">Total LOC</th>
    <th class="project_coverage-col-func">%</th>
    <th class="project_coverage-col-func">#</th>
    <th class="project_coverage-col-func">Total func.</th>
    {# <th>(%%)</th> #}
  </tr>
</thead>
