<colgroup>
  <col />
  <col span="4" class="project_coverage-col-line" />
  <col span="3" class="project_coverage-col-func" />
</colgroup>
<thead>
  <tr>
    <th rowspan="2">File</th>
    <th colspan="2" class="project_coverage-col-line">Lines</th>
    {# <th class="project_coverage-col-line">Non-empty lines:</th> #}
    <th colspan="2" class="project_coverage-col-line">Code lines covered&nbsp;by requirements</th>
    {# <th class="project_coverage-col-line">Non-empty lines covered (percent):</th> #}
    <th class="project_coverage-col-func">Functions</th>
    <th colspan="2" class="project_coverage-col-func">Functions covered&nbsp;by requirements</th>
    {# <th class="project_coverage-col-func">Functions covered (percent):</th> #}
    {# <th>(%%)</th> #}
  </tr>
  <tr>
    {# <th>File</th> #}
    <th class="project_coverage-col-line">Total LOC</th>
    <th class="project_coverage-col-line">Code LOC</th>
    <th class="project_coverage-col-line">#</th>
    <th class="project_coverage-col-line">%</th>
    <th class="project_coverage-col-func">Total</th>
    <th class="project_coverage-col-func">#</th>
    <th class="project_coverage-col-func">%</th>
    {# <th>(%%)</th> #}
  </tr>
</thead>
