{%- extends "components/form/row/index.jinja" %}

{% assert form_object is defined, "form_object must be defined." %}
{% assert form_object.errors is defined, "form_object: errors must be defined." %}
{% assert form_object.field is defined, "form_object: field must be defined." %}

{% block row_form_attributes %}
  data-controller="deletable_field movable_field"
{% endblock row_form_attributes %}

{% block row_left %}
  {%- set action_button_context = namespace() %}
  {%- set action_button_context.field_actions = {"move_down": true} %}
  {%- set action_button_context.field_name = form_object.field.field_name %}
  {%- set action_button_context.field_input_name = form_object.field.get_input_field_name() %}
  {%- set action_button_context.mid = form_object.field.field_mid %}
  {%- set action_button_context.testid_postfix = "custom-field" %}
  {%- include "components/form/field_action_button/index.jinja" -%}

  {%- set action_button_context = namespace() %}
  {%- set action_button_context.field_actions = {"move_up": true} %}
  {%- set action_button_context.field_name = form_object.field.field_name %}
  {%- set action_button_context.field_input_name = form_object.field.get_input_field_name() %}
  {%- set action_button_context.mid = form_object.field.field_mid %}
  {%- set action_button_context.testid_postfix = "custom-field" %}
  {%- include "components/form/field_action_button/index.jinja" -%}
{% endblock row_left %}

{% block row_content scoped %}

  {%- set placeholder_name = form_object.field.field_name|default('custom field name', true) %}
  {%- set human_title = form_object.field.field_human_title if form_object.field.field_human_title else "" -%}
  {%- with
    field_class_name = "monospace",
    field_editable = true,
    field_input_name = form_object.field.get_input_field_name(),
    field_input_human_title = form_object.field.get_input_field_human_title(),
    field_label = "Custom field",
    field_placeholder = "Enter "~placeholder_name~" here...",
    field_type = "singleline",
    field_value = form_object.field.field_name,
    field_human_title = human_title,
    mid = form_object.field.field_mid,
    testid_postfix = "custom-field",
    testid_human_title_postfix = "human-title"
  %}
  {%- include "components/form/field/contenteditable/field_with_human_title.jinja" %}
  {%- endwith -%}

{% endblock row_content %}

{% block row_right %}

  {%- set action_button_context = namespace() %}
  {%- set action_button_context.field_actions = {"delete": true} %}
  {%- set action_button_context.field_name = "custom field" %}
  {%- set action_button_context.mid = form_object.field.field_mid %}
  {%- set action_button_context.testid_postfix = "custom-field" %}
  {%- include "components/form/field_action_button/index.jinja" -%}

{% endblock row_right %}
