{%- if requirement.rationale -%}
  <sdoc-requirement-field-label>{{ requirement.get_field_human_title("RATIONALE") }}:</sdoc-requirement-field-label>
  <sdoc-requirement-field
    data-field-label="rationale"
  >
    {%- with field_content = renderer.render_requirement_rationale(requirement) %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-requirement-field>
{%- endif -%}
