{%- if requirement.rationale -%}
  <sdoc-requirement-field-label>rationale:</sdoc-requirement-field-label>
  <sdoc-requirement-field
    data-field-label="rationale"
    data-controller="copy_to_clipboard_button"
  >
    <sdoc-autogen>{{ renderer.render_requirement_rationale(requirement) }}</sdoc-autogen>
  </sdoc-requirement-field>
{%- endif -%}
