<div
  class="main"
>
  <div class="main_sticky_header">
    {%- include "components/form/search.jinja" -%}
  </div>

  {%- if view_object.search_results|length > 0 -%}
    <div class="content">
    {% for node in view_object.search_results %}
      {% if node.is_requirement %}
        {% with requirement=node, document=node.document, node_controls=True %}
          {%- include "components/requirement/tiny_extends_card.jinja" -%}
        {% endwith %}
      {% elif node.is_section %}
        {% with section=node, document=node.document, node_controls=True %}
          {%- include "components/section/tiny_extends_card.jinja" -%}
        {% endwith %}
      {% endif %}
    {% endfor %}
    </div>
  {%- else -%}
    {%- include "screens/search/legend.jinja" -%}
  {%- endif -%}
</div> {# /.main #}
