<div
  class="main"
>
  {% include "screens/search/search_form.jinja" %}

  {%- if error is none -%}
    {%- if search_results|length > 0 -%}
      <p>Found {{ search_results|length }} results.</p>

      <div class="content">
      {% for node in search_results %}
        {% if node.is_requirement %}
          {% with requirement=node, document=node.document, node_controls=True %}
            {%- include "components/requirement/tiny_extends_card.jinja" -%}
          {% endwith %}
        {% elif node.is_section %}
          {% with section=node, document=node.document, node_controls=True %}
            {%- include "components/section/tiny_extends_card.jinja" -%}
          {% endwith %}
        {% endif %}
      {% endfor %}
      </div>

    {%- endif -%}
  {%- else -%}
    {{ error }}
  {%- endif -%}
</div> {# /.main #}
