<div class="specification-graph-header-toolbar">
  <button
    class="action_button"
    data-testid="specification-graph-tips-button"
    data-js-modal-template-trigger="specification-graph-tips-modal-template"
    type="button"
  >?</button>
</div>
