<div class="tree-map-html-header-toolbar">
  <button
    class="tree-map-html-header-toolbar__tips action_button"
    data-testid="tree-map-html-tips-button"
    id="tree-map-html-tips-button"
    type="button"
  >?</button>
</div>
