{% set template_type = 'Tree map' %}

{% extends "base.jinja.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ view_object.render_static_url('tree_map_html.css') }}"/>
{% endblock head_css %}

{% block head_scripts %}
  {{ super() }}
  {%- if view_object.project_config.is_running_on_server -%}
  <script type="module">
    import hotwiredTurbo from "./{{ view_object.render_static_url('turbo.min.js') }}";
  </script>
  {%- endif -%}
  <script src="{{ view_object.render_static_url('modal.js') }}"></script>
  <script src="{{ view_object.render_static_url('tree_map_html.js') }}" defer></script>
{% endblock head_scripts %}

{% block title %}
  {{ view_object.project_config.project_title }} - {{ template_type }}
{% endblock title %}

{% block viewtype %}tree-map-html{% endblock viewtype %}

{% block layout_nav %}
  {% include "_shared/nav.jinja.html" %}
{% endblock layout_nav %}

{% block header_content %}
  {%- with
    header__pagetype=template_type,
    header__last="features/tree_map_html/header__actions.jinja"
  -%}
    {% include "components/header/index.jinja" %}
  {%- endwith -%}
{% endblock header_content %}

{% block main_content %}
  <div class="main">
    <div
      class="tree-map-html"
      data-testid="tree-map-html-root"
      id="tree-map-html-root"
    ></div>
    <template id="tree-map-html-back-icon">
      {% include "icons/ico16_backspace.svg" %}
    </template>
    <template id="tree-map-html-go-to-document-icon">
      {% include "icons/ico16_go_to_doc_r.svg" %}
    </template>
    <template id="tree-map-html-preview-icon">
      {% include "icons/ico16_maximize.svg" %}
    </template>
    <template id="tree-map-html-tips-modal-template">
      {% include "features/tree_map_html/tips.jinja" %}
    </template>
    <script id="tree-map-html-data" type="application/json">
      {{- view_object.tree_map_json -}}
    </script>
  </div>
{% endblock main_content %}
