.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 0;
  place-items: stretch stretch;
  /*
    for vertical line in 'current' column:
    .content_item[data-role="current"]::before
  */
  overflow: hidden;
}

.document-view .content {
  background-color: var(--color-bg-contrast);
  max-width: 900px;
  padding: calc(var(--base-padding)*2);
}

.traceability-view .content {
  grid-template-columns:  minmax(min-content, max-content)
                          minmax(var(--card-width), calc(2*var(--card-width)))
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
}

.requirements-coverage-view .content,
.deep-traceability-view .content {
  grid-template-columns:  minmax(min-content, max-content)
                          max-content
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
}

.table-view .content {
  grid-template-columns:  minmax(250px, 25%)
                          minmax(300px, 45%)
                          minmax(250px, 30%);
  gap: 2px;
  background-color: #ddd;
  border: 2px solid #ddd;
}

.document-view .content {
  display: block;
}

.content_section {
  display: contents;
}

.content_item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}

/* traceability */

.content_item[data-role="parents"] {
  grid-column: 1 / 2;
}

.content_item[data-role="current"] {
  grid-column: 2 / 3;
}

.deep-traceability-view .content_item[data-role="current"] {
  /* central column */
  width: var(--card-width);
}

.requirements-coverage-view .content_item[data-role="current"] {
  /* central column */
  width: calc(var(--card-width)*0.75);
}

.content_item[data-role="children"] {
  grid-column: 3 / 4;
}

.deep-traceability-view .content_item[data-role="current"]::before,
.traceability-view .content_item[data-role="current"]::before {
  /* for vertical line in 'current' culumn */
  content: '';
  position: absolute;
  top: 0;
  bottom: calc(var(--traceability-arrow)*(-1));
  left: 50%;
  border-left: 1px dotted #000;
}

/* .table-view */

.table-view article {
  display: contents;
}

.table-view [data-section="meta"] {
  grid-column: 1 / 2;
}

.table-view [data-section="meta"].docsection_section:only-child {
  grid-column: 1 / -1;
  background-color: var(--color-bg-main);
}

.table-view [data-section="description"] {
  grid-column: 2 / -1;
}

.table-view [data-section="statement"] {
  grid-column: 2 / 3;
}

.table-view [data-section="comment"] {
  grid-column: 3 / 4;
}

.table-view [data-col="0"] {
  grid-column: 1 / -1;
}
