{%- if project_config.is_running_on_server -%}
{#
  This turbo frame is important because it enables
  the child turbo links below.
#}
<turbo-frame>
  <div class="actions_group">
    {%- if not standalone -%}
    <a
      href="/actions/document/edit_grammar?document_mid={{ document.mid.get_string_value() }}"
      class="action_button"
      data-turbo="true"
      data-turbo-action="replace"
      title="Edit document grammar"
      data-testid="document-edit-grammar-action"
    >{% include "_res/svg_ico16_gear.jinja.html" %} Edit grammar</a>

    {%- if project_config.is_activated_reqif() -%}
    <a
      class="action_button"
      href="/reqif/export_document/{{ document.mid.get_string_value() }}"
      data-testid="document-export-reqif-action"
    >Export to ReqIF</a>
    {%- endif -%}
    {%- endif -%}
  </div>
</turbo-frame>
{%- endif -%}
