{% extends "base.jinja.html" %}
{% set template_type = "Requirements coverage" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ link_renderer.render_static_url('requirement-tree.css') }}"/>
{% endblock head_css %}

{% block head_scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ link_renderer.render_static_url('resizable_bar.js') }}"></script>
  <script type="text/javascript" src="{{ link_renderer.render_static_url('pan_with_space.js') }}"></script>
  <script type="text/javascript" src="{{ link_renderer.render_static_url('requirements-coverage.js') }}"></script>
{% endblock head_scripts %}

{% block title %}
  {{ config.project_title }} - {{ template_type }}
{% endblock title %}

{% block viewtype %}requirements-coverage{% endblock viewtype %}

{% block layout_nav %}
  {% include "_shared/nav.jinja.html" %}
{% endblock layout_nav %}

{% block tree_content %}
  {% include "screens/requirements_coverage/resizable_bar_with_project_tree.jinja" %}
{% endblock tree_content %}

{% block header_content %}
  {%- with header__pagetype=true -%}
    {% include "components/header/index.jinja" %}
  {%- endwith -%}
{% endblock header_content %}

{% block main_content %}
  {% include "screens/requirements_coverage/main.jinja" %}
{% endblock main_content %}
