<sdoc-meta-label data-testid="document-config-{{ field_testid }}-label">{{ field_label }}:</sdoc-meta-label>
<sdoc-meta-field data-testid="document-config-{{ field_testid }}-field">
  <div class="editable-cell-indicator"></div>
  {# Plain metadata rendering: no copy-to-clipboard field wrapper. #}
  <sdoc-autogen>{{ field_content }}</sdoc-autogen>
</sdoc-meta-field>
