<sdoc-meta-label data-testid="document-config-{{ field_testid }}-label">{{ field_label }}:</sdoc-meta-label>
<sdoc-meta-field data-testid="document-config-{{ field_testid }}-field">
  {%- include "screens/document/table/field_display_mode/_base_field_component.jinja" -%}
</sdoc-meta-field>
