{%- if document_title_wrap is defined and document_title_wrap -%}
<div
     data-testid="document-title-field"
     data-field-name="TITLE"
     {%- if view_object.is_running_on_server %}
     data-field-type="contenteditable"
     js-table_view_edit-field="contenteditable"
     data-node-mid="{{ doc_mid }}"
     data-url="/actions/table/get_document_config_field_inline?document_mid={{ doc_mid }}&amp;field_name=TITLE"
     {%- endif %}
>
  {%- if view_object.is_running_on_server %}<div class="editable-cell-indicator"></div>{%- endif %}
  <div id="doc-field-{{ doc_mid }}-TITLE" wrapper-field-type="contenteditable">
    {%- include "screens/document/table/field_display_mode/_base_field_component.jinja" -%}
  </div>
</div>
{%- else -%}
{%- include "screens/document/table/field_display_mode/_base_field_component.jinja" -%}
{%- endif -%}
