<div
  id="document-custom-meta-{{ doc_mid }}"
  style="display: contents;"
  data-field-type="contenteditable"
  js-table_view_edit-field="contenteditable"
  data-url="/actions/table/get_document_custom_meta_inline?document_mid={{ doc_mid }}">
  {%- include "screens/document/table/field_display_mode/document_custom_meta_value.jinja" -%}
</div>
