{% extends "components/node/card.jinja" %}
{%- set sdoc_entity = requirement -%}
{% block sdoc_entity %}
{%- set requirement_style = "simple" -%}
{% include "components/requirement/index.jinja" %}
{% endblock %}
