{% extends "components/node/readonly.jinja" %}
{%- set sdoc_entity = node -%}
{%- set requirement = node -%}
{% block sdoc_entity %}
{% include "components/requirement/index.jinja" %}
{% endblock sdoc_entity %}
