{#
  In this template:
  sdoc_entity = requirement
#}

{#  sdoc-requirement:
    attribute requirement-view can be either of: [simple, table, zebra].
    Without this attribute sdoc-requirement will look like a 'simple' view.
    If the container becomes smaller than the set parameter (300px default),
    the 'columns' view degrades to 'zebra'.
#}

<sdoc-requirement
  requirement-view="{{ requirement_style|d(sdoc_entity.get_requirement_style_mode()) }}"
  data-level="{{ sdoc_entity.context.title_number_string }}"
  {%- if sdoc_entity.reserved_status %}
    data-status='{{ sdoc_entity.reserved_status.lower() }}'
  {%- endif %}
  data-testid="requirement-style-{{ requirement_style|d(sdoc_entity.get_requirement_style_mode()) }}"
>
  {% set title_number = true %}
  {% set truncated_statement = false %}
  {# Use title/print, it contains anchor: #}
  {% include "components/node_field/title/pdf.jinja" %}
  {% include "components/node_field/meta/index.jinja" %}
  {% include "components/node_field/links/index.jinja" %}
  {% include "components/node_field/files/index.jinja" %}
  {% include "components/node_field/statement/index.jinja" %}
  {% include "components/node_field/rationale/index.jinja" %}
  {% include "components/node_field/comments/index.jinja" %}
  {% include "components/node_field/multiline/index.jinja" %}

</sdoc-requirement>
