{#
  In this template:
  sdoc_entity = requirement
#}

<sdoc-requirement
  requirement-view="{{ requirement_style|d(requirement.get_requirement_style_mode()) }}"
  data-level="{{ requirement.context.title_number_string }}"
  {%- if requirement.reserved_status %}
    data-status='{{ requirement.reserved_status.lower() }}'
  {%- endif %}
  data-testid="requirement-style-{{ requirement_style|d(requirement.get_requirement_style_mode()) }}"
>
  {% set title_number = false %}
  {% set truncated_statement = true %}
  {% include "components/requirement/title/index.jinja" %}
  {% include "components/requirement/uid/index.jinja" %}
  {% include "components/requirement/statement/index.jinja" %}

  {%- if config.is_running_on_server %}
    <div style="position:absolute;right:4px;bottom:0;">
      <turbo-frame>
        <a
          href="/actions/deep_trace/show_full_requirement?reference_mid={{ sdoc_entity.node_id }}"
          class="action_icon"
          data-turbo="true"
          data-turbo-action="replace"
          title="Show more"
          data-testid="requirement-show-more-action"
        >{% include "_res/svg_ico16_maximize.jinja" %}</a>
      </turbo-frame>
    </div>
  {% endif -%}
</sdoc-requirement>
