{%- extends "components/form/row/index.jinja" %}

{% assert reserved_field_row_context is defined, "row_with_reserved_field: reserved_field_row_context must be defined." %}

{% assert reserved_field_row_context.errors is defined, "row_with_reserved_field: errors must be defined." %}
{% assert reserved_field_row_context.field is defined, "row_with_reserved_field: field must be defined." %}

{%- set row_context = reserved_field_row_context -%}
{%- set row_context.errors = reserved_field_row_context.errors -%}

{% block row_form_attributes %}
  data-controller=""
{% endblock row_form_attributes %}

{% block row_left %}
{# Explicitly nothing. #}
{% endblock row_left %}

{% block row_content scoped %}

  {%- with
    field_class_name = "monospace",
    field_editable = false,
    field_input_name = reserved_field_row_context.field.get_input_field_name(),
    field_label = "Reserved field",
    field_placeholder = "NOT_RELEVANT",
    field_type = "singleline",
    field_value = reserved_field_row_context.field.field_name,
    mid = reserved_field_row_context.field.field_mid,
    testid_postfix = "reserved_field"
  %}
  {%- include "components/form/field/contenteditable/index.jinja" %}
  {%- endwith -%}

{% endblock row_content %}

{% block row_right %}
{# Explicitly nothing. #}
{% endblock row_right %}
