{# needs sdoc_entity #}

  <sdoc-node
    node-style="card"
    node-role="{{ sdoc_entity.get_type_string() }}"
    data-testid="node-{{ sdoc_entity.get_type_string() }}"
  >

    {# anchor #}
    {% include "components/anchor/index.jinja" %}

    {# sdoc_entity #}
    {% block sdoc_entity %}
    {# {% include "components/"~sdoc_entity.get_type_string()~"/card.jinja" %} #}
    {% endblock %}

  </sdoc-node>
