{#
    This is the root node of the document.

    Expect sdoc_entity = document.
#}

{% set is_not_standalone = project_config.is_running_on_server and not standalone %}

<turbo-frame
{%- if is_not_standalone %}
  id="article-{{ sdoc_entity.reserved_mid }}"
{% endif -%}
>

  <sdoc-node
    {%- if is_not_standalone %}
      data-editable_node="on"
    {%- endif %}
    node-role="root"
    data-testid="node-root"
  >

    {# sdoc_entity #}
    {% block sdoc_entity %}
    {% endblock sdoc_entity %}

    {# node_controls #}
    {%- if is_not_standalone -%}
    {% include "components/node/node_controls/index.jinja" %}
    {%- endif -%}

  </sdoc-node>
</turbo-frame>
