<sdoc-form sticky diff>
  <form
    action="/diff"
    method="GET"
  >

        <input
          type="text"
          {% if left_revision is not none %}
          value="{{ left_revision }}"
          {% else %}
          value=""
          {% endif %}
          placeholder="Enter the LHS revision here"
          id="left_revision"
          name="left_revision"
        />
        {% include "components/button/diff.jinja" %}
        <input
          type="text"
          {% if right_revision is not none %}
          value="{{ right_revision }}"
          {% else %}
          value=""
          {% endif %}
          placeholder="Enter the RHS revision here"
          id="right_revision"
          name="right_revision"
        />
        <input
          type="hidden"
          value="{{ tab }}"
          name="tab"
        />

  </form>

  {% if error_message is not none %}
    <div class="sdoc-form-error">{{ error_message }}</div>
  {% endif %}

</sdoc-form>
