<sdoc-main-placeholder
  class="page-tips"
  data-testid="changelog-main-placeholder"
>
  <div>
    <p>The Diff/Changelog feature only works when StrictDoc is run against a directory which is a Git repository.</p>
    <p>The left-hand-side (LHS) and the right-hand-side (RHS) revisions must be valid Git revisions.</p>
    <p>A valid revision can be a Git branch, a Git commit or a Git tag. Examples: `main`, `origin/main`, `63fd784`, `v1.0.0`.</p>
    <p>The StrictDoc's custom revision `HEAD+` can be used to indicate "the current branch + all uncommitted changes".</p>
    <p>The Diff/Changelog query is shareable via a URL. Example: {# djlint:off H022 #}<a href="http://127.0.0.1:5111/diff?left_revision=HEAD%5E&right_revision=HEAD&tab=diff">This link</a>{# djlint:on #} opens a diff between the last commit and the last but one commit.</p>

    <p>The StrictDoc diff algorithm compares documentation trees (left-hand side, LHS, and right-hand side, RHS) based on these principles:</p>

    <ul>
      <li>
        Optimal comparison of document contents is achieved using automatically-generated Machine Identifiers (MID). This ensures the best match.
      </li>
      <li>
        If document nodes, such as Sections or Requirements, lack MIDs, they are matched using their UID field. Matching quality with UIDs is comparable to that with MIDs, provided all nodes have UIDs.
      </li>
      <li>
        In cases where document nodes do not have either MID or UID, matching generally isn't performed or is very limited to the most basic cases. Changes to nodes lacking MID/UID are recorded as separate events: "node removed" for LHS and "node added" for RHS.
      </li>
    </ul>
  </div>
</sdoc-main-placeholder>
