<div class="main">
  {% include "screens/git/form.jinja" %}

  {% if error_message is none and left_revision is not none and right_revision is not none and left_revision|length > 0 and right_revision|length > 0 %}
    <turbo-frame id="diff_result" src="/diff_result?left_revision={{ left_revision_urlencoded }}&right_revision={{ right_revision_urlencoded }}">
    {% include "screens/git/skeleton.jinja" %}
    </turbo-frame>
  {% endif %}

</div>
