<div class="diff skeleton">
  <div class="diff_skeleton_spinner_container">
    <div class="skeleton_spinner"></div>
    {# <p>It may take a while the first time!</p> #}
  </div>
  {% if tab == "diff" %}
  <div class="diff_2columns">{# button panel simulation #}</div>
  <div class="diff_column" left>
    <div class="diff_inner" left>
      <div class="item_"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>

      <div class="item_"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>

      <div class="item_"></div>
    </div>
  </div>
  <div class="diff_column" right>
    <div class="diff_inner" right>
      <div class="item_"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>

      <div class="item_"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>

      <div class="item_"></div>
    </div>
  </div>
  {% endif %}
</div>
