{#
  anchor_button_text
 #}
<div class="anchor_button" title="Click to copy" data-testid="section-anchor-button">
  <span class="anchor_base_icon" style="line-height: 0.1;">
    <span class="svg_icon_not_hover_visible">{% include "icons/ico16_anchor.svg" %}</span>
    <span class="svg_icon_hover_visible">{% include "icons/ico16_copy.svg" %}</span>
  </span>
  <span class="anchor_check_icon" style="line-height: 0.1; display: none;">
    {% include "icons/ico16_done.svg" %}
  </span>
  <span class="anchor_button_text">{{ anchor_button_text }}</span>
</div>
