<svg class="svg_icon" width="16px" height="16px" viewBox="0 0 16 16">
  <path d="M8.25,8 L7.75,8 M2.25,8 L1.75,8 M14.25,8 L13.75,8 M11.25,8 L10.75,8 M5.25,8 L4.75,8"></path>
  <g class="expanded">
    <g class="arrow_top">
      <polyline points="10.5 13.5 8 11 5.5 13.5"></polyline>
      <line x1="8" y1="11" x2="8" y2="15"></line>
    </g>
    <g class="arrow_bottom">
      <polyline points="10.5 2.5 8 5 5.5 2.5"></polyline>
      <line x1="8" y1="5" x2="8" y2="1"></line>
    </g>
  </g>
  <g class="collapsed">
    <g class="arrow_top_coll">
      <polyline points="10.5 3.5 8 1 5.5 3.5"></polyline>
      <line x1="8" y1="1" x2="8" y2="5"></line>
    </g>
    <g class="arrow_bottom_coll">
      <polyline points="10.5 12.5 8 15 5.5 12.5"></polyline>
      <line x1="8" y1="15" x2="8" y2="11"></line>
    </g>
  </g>
</svg>
