.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 0;
  place-items: stretch stretch;
  /*
    for vertical line in 'current' column:
    .content_item[data-role="current"]::before
  */
  overflow: hidden;
}

.document-view .content {
  display: block;
  background-color: var(--color-bg-contrast);
  max-width: 900px;
  padding: calc(var(--base-padding)*2);
}

.traceability-view .content {
  grid-template-columns:  minmax(min-content, max-content)
                          minmax(var(--card-width), calc(2*var(--card-width)))
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
}

.requirements-coverage-view .content,
.deep-traceability-view .content {
  grid-template-columns:  minmax(min-content, max-content)
                          max-content
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
}

.table-view .content {
  grid-template-columns:  minmax(250px, 25%)
                          minmax(300px, 45%)
                          minmax(250px, 30%);
  gap: 2px;
  background-color: #ddd;
  border: 2px solid #ddd;
}

.content_section {
  display: contents;
}

.content_item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}

/* traceability */

.content_item[data-role="parents"] {
  grid-column: 1 / 2;
}

.content_item[data-role="current"] {
  grid-column: 2 / 3;
}

.deep-traceability-view .content_item[data-role="current"] {
  /* central column */
  width: var(--card-width);
}

.requirements-coverage-view .content_item[data-role="current"] {
  /* central column */
  width: calc(var(--card-width)*0.75);
}

.content_item[data-role="children"] {
  grid-column: 3 / 4;
}

.deep-traceability-view .content_item[data-role="current"]::before,
.traceability-view .content_item[data-role="current"]::before {
  /* for vertical line in 'current' culumn */
  content: '';
  position: absolute;
  top: 0;
  bottom: calc(var(--traceability-arrow)*(-1));
  left: 50%;
  border-left: 1px dotted #000;
}

/* .table-view */

.table-view article {
  display: contents;
}

.table-view [data-section="meta"] {
  grid-column: 1 / 2;
}

.table-view [data-section="meta"].docsection_section:only-child {
  grid-column: 1 / -1;
  /* background-color: var(--color-bg-main); */
}

.table-view [data-section="description"] {
  grid-column: 2 / -1;
}

.table-view [data-section="statement"] {
  grid-column: 2 / 3;
}

.table-view [data-section="comment"] {
  grid-column: 3 / 4;
}

.table-view [data-col="0"] {
  grid-column: 1 / -1;
}

/* meta info */

.content_meta {
  display: block;
  background-color: var(--color-bg-contrast);
  padding: calc(var(--base-padding)*2);
}

.document-view .content_meta {
  max-width: 900px;
  padding-bottom: 0;
}

.table-content {
  border-collapse: collapse;
  width: 100%;
  /* font-size: 12px; */
}

.table-content thead th {
  background-color: var(--color-bg-main);
  /* font-size: 11px; */
  font-weight: bold;
}

.table-content td,
.table-content th {
  padding: .5rem 1rem;
  width: 1%;
}

.table-content th {
  background-color: #fff;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  /* font-family: 'Courier New', Courier, monospace; */
}

.table-content td,
.table-content th {
  border: 1px solid #666;
}

.table-content th:first-child {
  width: 1%;
  /* white-space: nowrap; */
  /* font-size: 11px; */
}

.table-content .td-content:not(:empty) {
  min-width: 333px;
}

.table-content .td-title {
  font-weight: bold;
}
