

[data-viewtype="source-file"] .requirement_link:hover {
  text-decoration: none;
}

/* buttons */

.button_small {
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;

  display: inline-flex;
    align-items: center;
  padding: 0 8px ;
  border-radius: 1em;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--color-border);
  box-shadow: 0 0 0 rgba(0,0,0,0.2);

  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-accent);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.button_small:hover {
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* action_button */

.actions_group {
  display: flex;
  column-gap: var(--base-rhythm);
}

.action_button {
  font-size:var(--font-size-xsm);
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  border-radius: 6px;
  border: 1px solid transparent;
  backface-visibility: hidden;
  user-select: none;
  cursor: pointer;
  appearance: none;
  padding: calc(var(--base-rhythm)*0.5) calc(var(--base-rhythm)*1.5);
  min-height: 32px;

  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
  color: var(--color-fg-accent);
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;

  transition: 0.2s;
}

.action_button:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 2px var(--base-rhythm) 0px;
  color: var(--color-fg-contrast);
}

.action_button:disabled,
.action_button:disabled:hover,
.action_button[aria-disabled="true"],
.action_button[aria-disabled="true"]:hover {
  color: var(--color-fg-accent);
  opacity: .4;
  cursor: default;
}

/* nav */

.nav {
  display: flex;
  flex-flow: column nowrap;
  background-color: #282c42;
  width: var(--base-gap);
  height: 100%;
}

/* nav_button */

.nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  text-decoration: none;
  color: var( --color-bg-half-contrast);
  background-color: transparent;
  border-left: 2px solid transparent;

  height: var(--base-gap);
  font-size: 11px;
  font-weight: bold;
  transition: 0.3s;
}

.nav_button:hover {
  color: var(--color-bg-contrast);
  border-color: var(--color-bg-contrast);
}

/* should be like .nav_button:hover */
[data-viewtype="document-tree"] [data-link="index"],
[data-viewtype="requirements-coverage"] [data-link="requirements_coverage"],
[data-viewtype="coverage-tree"] [data-link="source_coverage"] {
  color: var(--color-bg-contrast);
  border-color: var(--color-bg-contrast);
  cursor: default;
}

/* tags */

.tags {
  padding-bottom: var(--base-gap);
}

.tag {
  display: inline-flex;
    align-items: center;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid rgba(0,0,0,0.05);
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  margin: 2px 0px;
  padding-left: 8px;
  border-radius: 2em;
}

.tag_badge {
  display: inline-flex;
    justify-content: center;
    align-items: center;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 4px solid transparent;
  min-width: 18px;
  height: 18px;
  border-radius: 2em;
  margin-left: 4px;
}

/* coverage */

.value-bar {
  display: inline-flex;
  height: 1rem;
}

.value-bar_bar {
  width: 13rem;
  border-radius: .5rem;
  background-color: white;
  /* box-shadow: inset 0px 2px 2px 0px #ccc; */
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;

  height: 0.75rem;
  margin-top: 0.25rem;
}

.value-bar_bar[data-value] {
  border: 1px solid rgb(80, 240, 40);
}

.value-bar_filler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(80, 240, 40);
}

.value-bar_text {
  width: 2.5rem;
  text-align: right;
  font-size: 0.75em;
}

ol.arabic {
    list-style: decimal;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}

/* svg icon */

svg.svg_icon polyline,
svg.svg_icon line,
svg.svg_icon circle,
svg.svg_icon path {
  fill: none;
  fill-rule: evenodd;
  stroke-width: 1.5;
  /* stroke: #000; */
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* transition: 0.2s; */
}

svg.svg_icon {
  width: calc(var(--base-rhythm)*2);
  height: calc(var(--base-rhythm)*2);
  flex: 0 0 auto;
  background: transparent;
  /* color: rgb(246, 153, 13); */
}

/* .header */

.header {
  height: calc(var(--base-rhythm)*6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--base-rhythm);
  padding-right: var(--base-rhythm);
  border-bottom: var(--base-border);
  /* background-color: var(--color-bg-contrast); */
}

.header__document {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--base-rhythm);
  padding-left: calc(var(--base-rhythm)*2);
  column-gap: calc(var(--base-rhythm)/2);
  min-width: 0;
  line-height: 1.5;
}

.header__project_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  color: var(--color-fg-contrast);
  line-height: 1.5;
}

.header__document_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-sm);
  font-weight: 700;
}

/* viewtype */

.viewtype {
  position: relative;
  font-size: var(--font-size-xsm);
}

.viewtype__handler {
  font-weight: 500;
  color: var(--color-fg-accent);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: calc(var(--base-rhythm)/2);
  user-select: none;
}

.viewtype__menu {
  position: absolute;
  z-index: 99;
  left: calc(var(--base-rhythm)*(-2));
  top: calc(var(--base-rhythm)*3);
  margin: 0;
  list-style: none;
  padding: var(--base-rhythm);
  background: var(--color-bg-contrast);
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: var(--base-rhythm);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--base-rhythm)/2);
}

.viewtype__menu[aria-hidden="true"] {
  display: none;
}

.viewtype__menu[aria-hidden="false"] {
  display: flex;
}

.viewtype__menu_header {
  padding: var(--base-rhythm);
  font-size: var(--font-size-xsm);
  text-transform: uppercase;
  color: var(--color-fg-secondary);
  font-weight: 700;
  font-size: 11px;
}

.viewtype__menu_item {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  display: block;
  padding: var(--base-rhythm);
  border-radius: calc(var(--base-rhythm)/2);
}

.viewtype__menu_item,
.viewtype__menu_item:link,
.viewtype__menu_item:visited {
  text-decoration: none;
  color: var(--color-fg-main);
}

.viewtype__menu_item:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-fg-accent);
}

[data-viewtype="document"] [data-viewtype_link="document"],
[data-viewtype="table"] [data-viewtype_link="table"],
[data-viewtype="traceability"] [data-viewtype_link="traceability"],
[data-viewtype="deep_traceability"] [data-viewtype_link="deep_traceability"],
.viewtype__menu_item.active {
  background-color: var(--color-bg-accent);
  color: var(--color-fg-accent);
  cursor: default;
}
