/* layout_aside links */

.layout_aside a {
  color: var(--color-accent-dark);
  line-height: 1;
}

.source-file-view .requirement_link:hover {
  text-decoration: none;
}

/* buttons */

.button_small {
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;

  display: inline-flex;
    align-items: center;
  padding: 0 8px ;
  border-radius: 1em;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--color-border);
  box-shadow: 0 0 0 rgba(0,0,0,0.2);

  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-accent);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.button_small:hover {
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* tags */

.tags {
  padding-bottom: var(--base-gap);
}

.tag {
  display: inline-flex;
    align-items: center;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid rgba(0,0,0,0.05);
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  margin: 2px 0px;
  padding-left: 8px;
  border-radius: 2em;
}

.tag_badge {
  display: inline-flex;
    justify-content: center;
    align-items: center;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 4px solid transparent;
  min-width: 18px;
  height: 18px;
  border-radius: 2em;
  margin-left: 4px;
}

/* coverage */

.value-bar {
  display: inline-flex;
  height: 1rem;
}

.value-bar_bar {
  width: 13rem;
  border-radius: .5rem;
  background-color: white;
  /* box-shadow: inset 0px 2px 2px 0px #ccc; */
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;

  height: 0.75rem;
  margin-top: 0.25rem;
}

.value-bar_bar[data-value] {
  border: 1px solid rgb(80, 240, 40);
}

.value-bar_filler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(80, 240, 40);
}

.value-bar_text {
  width: 2.5rem;
  text-align: right;
  font-size: 0.75em;
}

ol.arabic {
    list-style: decimal;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}
