/* [contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block;
} */

:root {
  /* --color-bg-form: var(--color-bg-main); */
  --color-bg-form: #e2e6ea;
  --color-bg-field: white;
  --std-form-margin: calc(var(--base-padding)*0.5);
}

.std-form {
  background-color: var(--color-bg-form);
  /* border: 1px solid rgba(0,0,0,0.05); */
  /* box-shadow: 0 0 16px rgba(0,0,0,0.2); */
  /* outline: var(--std-form-margin) solid var(--color-bg-form); */
  margin-left: calc(var(--std-form-margin)*(-4));
  margin-right: calc(var(--std-form-margin)*(-4));
  margin-bottom: 0;
  padding: calc(var(--std-form-margin)*2);
  margin-top: var(--std-form-margin);
}

.std-form-row {
  background-color: var(--color-bg-field);
  /* outline: calc(var(--std-form-margin)/2) solid var(--color-bg-field); */
  padding: calc(var(--std-form-margin)*2);
  margin-bottom: calc(var(--std-form-margin));
}

div[contenteditable=true] {
  white-space: pre-wrap;
  outline: none;
  /* Without this hack, Chrome generates duplicated new lines when Enter pressed. */
  /* Add style display:inline-block; to contenteditable, it will not generate div, p, span automatic in chrome */
  /* https://stackoverflow.com/a/24689390/598057 */
  display: inline-block;
  width: 100%;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  color: #808080;
  /* For Firefox: */
  display: block;
}

[placeholder]:empty:focus::before {
  color: #c0c0c0;
}

.std-form-footer {
  display: flex;
  margin-top: 16px;
}

.std-form-btn {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  border-width: 1px;
  border-radius: 2px;
  border-style: outset;
  background: buttonface;
  /* border-color: buttonborder; */
  border-color: transparent;
  border-image: initial;
  outline: none;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  line-height: 2;
  padding: 0 10px;
  vertical-align: middle;
  margin: 0;
  margin-right: 8px;
}

.std-form-btn:hover {
  background: rgb(246, 246, 246);
  outline: 2px solid rgb(246, 246, 246);
}

.std-form-btn[type=submit] {
  color: #000;
}

.std-form-btn[href*="cancel"] {
  color: red;
}

.std-form-fileld-title {
  font-size: calc(var(--base-font-size)*1.2);
  font-weight: bold;
}

.std-form-field-rst {
  font-family: var(--code-font-family);
  font-size: 0.9em;
}

.std-form-error {
  color: red;
  font-size: 12px;
  margin-top: var(--std-form-margin);
}
