.layout {
  height: 100vh;
  width: 100%;
  display: grid;

  grid-template-columns:
                fit-content(var(--base-gap))
                fit-content(30%)
                1fr
                auto;
  grid-template-rows:
                var(--base-gap)
                minmax( 0, 1fr ) /* https://github.com/w3c/csswg-drafts/issues/1777 */
                calc(var(--base-rhythm)*4);
  grid-template-areas:
      "nav  header  header  aside"
      "nav  toc     main    aside"
      "nav  footer     footer  aside";

  place-items: stretch stretch;
  place-content: stretch stretch;

  transition: margin-left var(--toc-layout-transition);
}

/* .layout:after {
  content: '';
  grid-area: main / main / footer / footer;
  box-shadow: var(--main-elevation-shadow);
  pointer-events: none;
  z-index: 2;
} */

.layout_nav {
  grid-area: nav;
  position: relative;
  z-index: 10;
}

.layout_toc {
  grid-area: toc;
}

.layout_footer {
  grid-area: footer;
}

.layout_header {
  grid-area: header;
  min-width: 0;
}

/* TODO: delete document-view-type */
.layout_header .document-view-type {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: .5em;
  line-height: 1;
  top: -12px;
  color: var(--color-accent);
}

.layout_aside {
  grid-area: aside;
  min-width: 0;
}

.layout_main {
  grid-area: main;

  padding: var(--base-gap);
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;

  background-color: var(--color-bg-main);
}

/* redefine main layout grid */

[data-viewtype="source-file"] .layout_main {
  padding: 0;
  background: white;
}

/*  */

.section-number {
  margin-right: .5rem;
  font-size: 0.85em;
  font-weight: bold;
}

/* connection_status */

.connection_status {
  position: fixed;
  z-index: 1111;
  top: 50%;
  left: 2rem;
  right: 2rem;
  /* left: 1rem; */

  /* background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 8px 24px rgba(0,0,0,.3);
  backdrop-filter: blur(8px); */

  box-shadow: 0 8px 32px rgba(0,0,0,.3);
  background: #fff;

  border-radius: 2rem;
  text-align: center;
}

.connection_status:not(:empty) {
  padding: .75rem 2rem;
}
