.layout {
  height: 100vh;
  width: 100%;
  display: grid;
  /* grid-template-columns: var(--base-gap) var(--toc-width)  1fr;
  grid-template-rows: var(--base-gap) 1fr;
  grid-template-areas:
    "toggler aside-header  header"
    "nav aside             main"; */

    grid-template-columns:
    var(--base-gap) fit-content(30%) 1fr auto;
    grid-template-rows: var(--base-gap) 1fr auto;
    grid-template-areas:
        "nav  header  header  aside"
        "nav    toc     main    aside"
        "nav    toc     footer  aside";

  place-items: stretch stretch;
  place-content: stretch stretch;

  transition: margin-left var(--toc-layout-transition);
}

.layout_nav {
  grid-area: nav;
  border-right: var(--base-border);

  background-color: var(--color-bg-main);
  display: flex;
  flex-flow: column nowrap;

  background-color: #282c42;
}

.layout_index {
  grid-area: index;
}

.layout_toc {
  grid-area: toc;
  overflow: hidden;
}

.layout_footer {
  grid-area: footer;
  /* background-color: var(--color-bg-contrast); */
  background: indianred;
}

.layout:after {
  content: '';
  grid-area: main / main / footer / footer;
  /* box-shadow: inset 8px 8px 16px rgba(0,0,0,.2); */
  box-shadow: var(--main-elevation-shadow);
  pointer-events: none;
  z-index: 2;
}

.layout_header {
  grid-area: header;
  min-width: 0;
}

/* TODO: delete document-view-type */
.layout_header .document-view-type {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: .5em;
  line-height: 1;
  top: -12px;
  color: var(--color-accent);
}

.layout_aside {
  grid-area: aside;
  min-width: 0;
  /* overflow: auto; */

  /* padding: var(--base-gap) var(--base-padding) var(--base-gap) calc(var(--base-padding)*2);
  background-color: var(--color-bg-main);
  border-top: 2px solid var(--thumbBG);
  border-right: 2px solid var(--thumbBG); */

  background: rgb(0, 128, 255);
}

.layout_main {
  grid-area: main;

  padding: var(--base-gap);
  position: relative;
  overflow: auto;

  background-color: var(--color-bg-main);
}

/* redefine main layout grid */


[data-viewtype="source-file"] .layout_aside {
  grid-area: nav / nav / aside / aside;
  border-right: none;
  overflow-y: scroll;
  padding: var(--base-padding);
}

[data-viewtype="source-file"] .layout_main {
  padding: 0;
  background: white;
}

/* *** */

[data-viewtype="table"] .layout_main {
  /* overflow: visible; */
  /* background-color: var(--color-bg-contrast); */
}

[data-viewtype="table"] .layout_tmp_inner {
  background-color: var(--color-bg-contrast);
  width: fit-content;
}


/* toc */

.toc {
  list-style: none;
  padding-left: 0;
  font-size: 0.85rem;
}

.toc ul {
  list-style: none;
  padding-left: calc(var(--base-padding)*.5);
}

.toc li {
  margin: 0.5rem 0;
}

.toc a,
.toc a:link,
.toc a:visited {
  line-height: 1;
  color: var(--color-fg-main);
  text-decoration: none;
}
.toc a:hover {
  background-color: var(--color-bg-contrast);
}

.toc a:focus,
.toc a:active {
  background: yellow;
}

.toc-title-no-link {
  color: #999;
}

/* nav */
/*
document-tree-view
coverage-tree-view
*/

/* TODO: delete this? */

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav li {
  margin: .5rem 0;
}

ul.nav a {
  color: var(--color-fg-main);
  font-size: 1rem;
  font-weight: normal;
}

ul.nav a:hover {
  text-decoration: none;
}

/*  */

.section-number {
  margin-right: .5rem;
  font-size: 0.85em;
  font-weight: bold;
}

/* layout_toggler */


.layout,
body[data-state="open"] .layout {
  margin-left: 0;
}

body[data-state="close"].withtoc .layout {
  margin-left: calc(var(--toc-width) * (-1));
}

.layout_toggler {
  grid-area: toggler;
  background-color: var(--color-bg-main);
  font-size: 1.2rem;
  font-weight: bold;
}

.layout_toggler::before,
body[data-state="open"] .layout_toggler::before {
  content: '\2715';
}

body[data-state="close"] .layout_toggler::before {
  content: '\2630';
}

/* connection_status */

.connection_status {
  position: fixed;
  z-index: 1111;
  top: 50%;
  left: 2rem;
  right: 2rem;
  /* left: 1rem; */

  /* background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 8px 24px rgba(0,0,0,.3);
  backdrop-filter: blur(8px); */

  box-shadow: 0 8px 32px rgba(0,0,0,.3);
  background: #fff;

  border-radius: 2rem;
  text-align: center;
}

.connection_status:not(:empty) {
  padding: .75rem 2rem;
}
