/* general styles */

.pdf-view {
  --print-elevation-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px 0px;
  --print-A4-width: 210mm;
  --print-A4-height: 297mm;
  --print-font-size: 12pt;
  --print-running-header-height: 20mm;
  --print-running-footer-height: 10mm;
  /* in @page don't work, use 20mm instead var */
  --print-padding: 20mm;
  /* calculated */
  --printing-height: calc(var(--print-A4-height) - var(--print-padding) * 2 - var(--print-running-header-height) - var(--print-running-footer-height));
  --printing-width: calc(var(--print-A4-width) - var(--print-padding) * 2);

  /* ! for test */
  --print-testborder: 1px dashed #666;
}

.pdf-view .content {
  display: block;
}

.pdf-view .printable_flow {
  margin: 0 auto;
  font-size: var(--print-font-size);
  width: var(--printing-width);
}

/* TODO margins to padding in ALL styles, so that the height of the element is defined correctly */
/* adding a workaround for this case for now */
.pdf-view .printable_flow * {
  margin-top: 0;
  margin-bottom: 0;
}

.pdf-view .printable {
  /* compensate for visibility over the virtual page */
  /* position: relative; */
  /* compensate collapsing margins */
  /* padding: calc(var(--base-margin)/2) 0;
  margin: 0; */
}

/* frontpage */

.frontpage {
  /* height: 100%; */
  height: var(--printing-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  place-items: stretch stretch;
  place-content: stretch stretch;

  /* elevate above the virtual page */
  position: relative;

  /* ! temp */
  border: var(--print-testborder);
}

/* running */

.running-header {
  height: var(--print-running-header-height);

  display: flex;
  justify-content: center;
  align-items: center;
  /* elevate above the virtual page */
  position: relative;

  /* ! temp */
  border: var(--print-testborder);
}

.running-footer {
  break-after: page;
  height: var(--print-running-footer-height);

  display: flex;
  justify-content: center;
  align-items: center;
  /* elevate above the virtual page */
  position: relative;

  /* ! temp */
  border: var(--print-testborder);
}

/* print service */
.break-after-page { break-after: page; }

.virtualA4 {
  position: relative;
  height: 0;
}
.virtualA4::before {
  position: absolute;
  content: '';
  width: var(--print-A4-width);
  height: var(--print-A4-height);
  left: calc(var(--print-padding)*(-1));
  background-color: #fff;
  box-shadow: var(--print-elevation-shadow);
}
.virtualpadding {
  padding-top: var(--print-padding);
}
.virtualdivider {
  padding: 1rem;
}




/*
 * print styles
   should be after general styles
 */

@media print {

  .pdf-view aside,
  .pdf-view header,
  .pdf-view nav,
  .pdf-view .layout_button {
    display: none ;
  }

  .pdf-view  main,
  .pdf-view  .layout {
    display: contents;
  }

  /* .pdf-view .frontpage, */
  .pdf-view .content {
    padding: 0;
    display: contents ;
  }

  .virtualA4,
  .virtualdivider,
  .virtualpadding {
    display: none;
  }

}

@page  {
  size: A5;
  /* var don't work in @page */
  /* ~ 0,64" */
  margin: 16mm;
}

/* @page  {
  size: A4;
  //margin: var(--print-padding);
  margin: 20mm;

  @top-left{
      content: element(headerLeft);
      border-bottom:2px solid #434190;
  }

  @top-center{
      border-bottom:2px solid #434190;
  }

  @top-right{
      content: element(headerRight);
      border-bottom:2px solid #434190;
  }

  @bottom-right {
      content: element(footerRight);
      border-top:2px solid #434190;
  }

  @bottom-center{
      content: counter(page) ' / ' counter(pages);
      border-top:2px solid #434190;
      font-size:8pt;
  }

  @bottom-left{
      content: element(footerLeft);
      border-top:2px solid #434190;
  }
}

.headerLeft{
  position: running(headerLeft);
  font-size:12pt;
}

.headerRight{
  position: running(headerRight);
  font-size:8pt;
  font-style: italic;
  text-align: right;
  color:#667eea;
}

.footerLeft{
  position: running(footerLeft);
}

.footerLeft img{
  width:20mm;
}

.footerRight{
  position: running(footerRight);
  text-align: right;
  font-size:8pt;
} */


/* test */

.test-t {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.test-row {
  height: 6.62mm;
  width: 400px;
  box-shadow: inset 1px 1px 0 #ccc;
}