/* general styles */

@page {
  size: A4;
  /* css variables don't work in @page */

  /*
  Make sure that the print margins (set for @page)
  are slightly SMALLER than the corresponding indents
  used for the the printable area (.pdf-view .printable_flow),
  to avoid overfilling the printable area and the mismatch
  between preview and the flow processed by paged media.
  In other words,
  the printed text will NOT be WIDE than the printable area.
  */
  margin-left: 20mm;   /* --print-padding: 25mm; */
  margin-right: 20mm;  /* --print-padding: 25mm; */
  margin-top: 10mm;    /* --print-top-padding: 10mm; */
  margin-bottom: 10mm; /* --print-bottom-padding: 12mm; */
}

.pdf-view {
  --print-A4-width: 210mm;
  --print-A4-height: 297mm;
  --print-font-size: 11pt;
  /*
  ! In @page CCS variables don't work!
  ! When changing print-padding parameters (especially in the case of downsizing)
  ! do not forget to change the corresponding margins in @page.
  */
  --print-padding: 25mm;
  --print-top-padding: 12mm;
  --print-bottom-padding: 12mm;

  /* calculated */
  --printing-width: calc(var(--print-A4-width) - var(--print-padding) * 2);

  /* vitual; not printed, only for the preview area */
  --vitual-pages-elevation-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px 0px;
  --vitual-pages-divider: 1rem;

  /* general indents between the running header/footer and the content */
  --running-header-padding: 1rem;
  --running-footer-padding: 3rem;
}

.pdf-view .content {
  display: block;
}

.pdf-view .printable_flow {
  margin: 0 auto;
  font-size: var(--print-font-size);
  width: var(--printing-width);
}

/* TODO margins to padding in ALL styles, so that the height of the element is defined correctly */
/* adding a workaround for this case for now */
.pdf-view .printable_flow * {
  margin-top: 0;
  margin-bottom: 0;
}
.pdf-view .printable_flow article img,
.pdf-view .printable_flow article object {
  padding: 0;
}

/*
  Virtual elements for preview in browser,
  are used only to calculate the simulation page template.
*/
.virtualA4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content)
                      1fr
                      minmax(min-content, max-content);
  place-items: stretch stretch;
  place-content: stretch stretch;

  /* height: var(--print-A4-height); */
  /*
    Based on the height of the middle grid row
    we calculate the height of the printable area for the rest of the pages.
    We want the 'frontpage' content to take up all available heights,
    excluding the footer and header heights.
    By adding the height of the virtualA4_pages_divider to the height of the virtualA4,
    we compensate for the final height of the 'frontpage' content.
  */
  height: calc(var(--print-A4-height) + var(--vitual-pages-divider));
}
.virtualA4_page {
  position: relative;
  height: 0;
}
.virtualA4_page::before {
  position: absolute;
  content: '';
  width: var(--print-A4-width);
  height: var(--print-A4-height);
  left: calc(var(--print-padding)*(-1));
  background-color: #fff;
  box-shadow: var(--vitual-pages-elevation-shadow);
}
.virtualA4_page_top_padding {
  position: relative;
  padding-top: var(--print-top-padding);
}
.virtualA4_page_bottom_padding {
  position: relative;
  padding-top: var(--print-bottom-padding);
}

.virtualA4_pages_divider {
  position: relative;
  padding-top: var(--vitual-pages-divider);
  background-color: rgba(255, 0, 0, 0.1);
}

/*
 * print styles
   should be after general styles
 */

@media print {

  .pdf-view .layout > aside,
  .pdf-view .layout > header,
  .pdf-view .layout > nav,
  .pdf-view .layout_button {
    display: none ;
  }

  .pdf-view .layout,
  .pdf-view .layout_main {
    display: contents;
  }

  /* .pdf-view .frontpage, */
  .pdf-view .layout .layout_main .content {
    padding: 0;
    display: contents;
  }

  .virtualA4 {
    display: contents;
  }

  .virtualA4_page,
  .virtualA4_page_top_padding,
  .virtualA4_page_bottom_padding,
  .virtualA4_pages_divider {
    display: none;
  }

  .running-footer {
    break-after: page;
  }

}

/* running header & footer */

.running-header {
  padding-bottom: var(--running-header-padding);
  /* elevate above the virtual page for visibility */
  position: relative;
}

.running-footer {
  padding-top: var(--running-footer-padding);
  /* elevate above the virtual page for visibility */
  position: relative;
}

/** ************************** **/
/** HERE IS YOUR CUSTOM MARKUP **/
/** ************************** **/

.printable_flow {
  --color-0: #000;
  --color-1: #333;
  --color-2: #666;
  --color-3: #999;
  --base-unit: var(--print-font-size);
}

/* general document typography */

.printable_flow {
  color: var(--color-0);
}

.printable_flow .section-title {
  color: var(--color-0);
}

.printable_flow .section-title[data-level]::before {
  content: attr(data-level) ". ";
  margin-right: calc(var(--base-unit) * 0.5);
}

.printable_flow h1 {
  font-size: calc(var(--base-unit) * 2);
  padding-top: var(--base-unit);
  /* border-bottom: 4px solid #ddd; */
}
/* .printable_flow h1::after {
  position: absolute;
  content: '';
  border-top: 4px solid #ccc;
  left: 0;
  right: 0;
  top: 1em;
} */
.printable_flow h2 {
  font-size: calc(var(--base-unit) * 1.4);
  padding-top: calc(var(--base-unit) * 0.5);
}
.printable_flow h3 {
  font-size: calc(var(--base-unit) * 1.2);
  padding-top: calc(var(--base-unit) * 0.5);
}
.printable_flow h4,
.printable_flow h5,
.printable_flow h6 {
  font-size: calc(var(--base-unit) * 1.1);
  font-style: italic;
  padding-top: calc(var(--base-unit) * 0.5);
}

 /* frontpage */

.frontpage {
  display: grid;
  grid-template:
  /* rows */
    "top" 3fr
    "middle" 3fr
    "bottom" 4fr
  /* columns */
    / 1fr;
  place-items: start stretch;
  place-content: stretch stretch;

  height: 100%;

  /* ! temp */
  /* background-color: rgba(0, 0, 0, 0.01); */
}
.frontpage__top {
  grid-area: top;
  align-self: start;
  padding-bottom: var(--base-unit);
}
.frontpage__middle {
  grid-area: middle;
  align-self: start;
  padding-bottom: var(--base-unit);
}
.frontpage__bottom {
  grid-area: bottom;
  align-self: end;
}

.frontpage__adress {
  color: var(--color-2);
  padding-bottom: calc(var(--base-unit) * 1.5);
}

.frontpage__document-title {
  font-size: calc(var(--base-unit) * 2);
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  color: var(--color-0);
  padding-bottom: var(--base-unit);
}

.frontpage__document-subtitle {
  font-size: calc(var(--base-unit) * 1.25);
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  color: var(--color-2);
}

table.frontpage__infotable {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.2;
}
table.frontpage__infotable th,
table.frontpage__infotable td {
  padding: calc(var(--base-unit) * 0.65);
  border: 1px solid var(--color-3);
  width: 20%;
  text-align: left;
}
table.frontpage__infotable td:last-child {
  width: 30%;
}
table.frontpage__infotable th {
  font-weight: normal;
  color: var(--color-2);
  text-transform: uppercase;
  font-size: calc(var(--base-unit) * 0.8);
}
table.frontpage__infotable td {
  font-weight: bold;
  color: var(--color-0);
}
table.frontpage__infotable td:first-child {
  font-weight: normal;
  color: var(--color-2);
}

/* running header & footer */

.pdf-header {
  color: var(--color-1);
  display: flex;
  flex-direction: column;
}

.pdf-header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: calc(var(--base-unit) * 0.25);
  border-bottom: 1px solid var(--color-3);
}

.pdf-header__aside {
  text-align: right;
  color: var(--color-2);
  font-size: calc(var(--base-unit) * 0.85);
  padding-top: calc(var(--base-unit) * 0.25);
}

.pdf-header__title {
  color: var(--color-1);
}

.pdf-footer {
  display: flex;
  flex-direction: column;
}

.pdf-footer__copywrite {
  text-align: center;
  color: var(--color-1);
}
.pdf-footer__copywrite-text {
  font-size: calc(var(--base-unit) * 0.7);
  text-align: center;
  color: var(--color-2);
}


