* {
  margin: 0;
  padding: 0;
}



.source-file-view {
  --source-line: 1px solid rgba(0, 0, 0, .05);
}

/* redefine main layout grid */
.source-file-view .layout {
  grid-template-columns: 340px 0 1fr;
}

.source-file-view .layout_aside {
  border-right: none;
  overflow-y: scroll;
}

.source-file-view .layout_main {
  padding: 0;
  background: white;
}

/* REQS */

/* .source-file__refer {
}

.source-file__refer-container {
} */

/* .source-file__reqs {} */

.source-file__ranges {
  margin-top: 4rem;
}

/* CODE */

.source-file__code {
  position: relative;
  padding: 66px 0;
  transition: box-shadow 0.3s ease-in;
}

.source {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  gap: 0 0;
  place-items: stretch stretch;
  transition: transform 0.3s ease-in;
  position: relative;

  font-size: 14px;
}

.source_highlight {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--color-highlight);
  z-index: -1;
  transition: height 0.3s ease-in, top 0.3s ease-in;
}

.source__line-number {
  grid-column: 1 / 2;
  padding: 0.25rem 2rem;
  text-align: right;
  border-bottom: var(--source-line);
}

.source__line-content {
  grid-column: 2 / 3;
  padding: 0.25rem 1rem 0.25rem .5rem;
  border-bottom: var(--source-line);
  border-left: var(--source-line);
}

/* Pygments */

.highlight {
  background: transparent !important;
}
