.content {
  min-width: calc(var(--card-width) + calc(var(--base-padding)*4));
}

[data-viewtype="document"] .content {
  display: block;
  max-width: 900px;
}

[data-viewtype="traceability"] .content {
  display: grid;
  place-items: stretch stretch;
  grid-template-columns:  minmax(min-content, max-content)
                          minmax(var(--card-width), calc(2*var(--card-width)))
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

[data-viewtype="requirements-coverage"] .content,
[data-viewtype="deep_traceability"] .content {
  display: grid;
  place-items: stretch stretch;
  grid-template-columns:  minmax(min-content, max-content)
                          max-content
                          minmax(min-content, max-content);
  gap: var(--traceability-arrow) 0;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

[data-viewtype="table"] .content {
  background-color: var(--color-bg-contrast);
  display: block;
  /* aligns the width of the white box of the content and the table: */
  width: fit-content;
}

/* TODO */
/* used in TR, DTR, requirements_coverage: */
.content_section {
  display: contents;
}
/* TODO */
.content_item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}

/* traceability */

.content_item[data-role="parents"] {
  grid-column: 1 / 2;
}

.content_item[data-role="current"] {
  grid-column: 2 / 3;
}

[data-viewtype="deep_traceability"] .content_item[data-role="current"] {
  /* central column */
  width: var(--card-width);
}

[data-viewtype="requirements-coverage"] .content_item[data-role="current"] {
  /* central column */
  width: calc(var(--card-width)*0.75);
}

.content_item[data-role="children"] {
  grid-column: 3 / 4;
}

[data-viewtype="deep_traceability"] .content_item[data-role="current"]::before,
[data-viewtype="traceability"] .content_item[data-role="current"]::before {
  /* for vertical line in 'current' culumn */
  content: '';
  position: absolute;
  top: 0;
  bottom: calc(var(--traceability-arrow)*(-1));
  left: 50%;
  border-left: 1px dotted #000;
}

/* meta info */

.table_meta {
  width: auto;
  border-collapse: collapse;
  background-color: var(--color-bg-contrast);
  /* font-size: .85em; */
  text-align: left;
}

.table_meta th,
.table_meta td {
  padding: .15rem .5rem;
  border: 1px solid #666;
}

[data-viewtype="table"] sdoc-node .free_text{
  max-width: 900px;
}

/* ultimate table view */

.table_meta {
  width: auto;
  border-collapse: collapse;
  background-color: var(--color-bg-contrast);
  /* font-size: .85em; */
  text-align: left;
}

.table_meta th,
.table_meta td {
  padding: .15rem .5rem;
  border: 1px solid #666;
}

/* ultimate table view */

.content-view-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-bg-contrast);
}

/* .content-view-table td,
.content-view-table th, */
.content-view-th,
.content-view-td {
  padding: .5rem 1rem;
  border: 1px solid #666;
  vertical-align: top;
}

.content-view-th {
  text-align: left;
  text-transform: uppercase;
  background-color: var(--color-border);
  font-size: .85em;
  font-weight: bold;
}

.content-view-td-type,
.content-view-td-meta {
  background-color: var(--color-bg-main);
  font-size: .85em;
}

.content-view-td-type {
  background-color: var(--color-bg-main);
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

.content-view-table div.document {
  display: block;
  max-width: 900px;
}

.content-view-table p:first-child {
  margin-top: 0;
}

.content-view-table p:last-child {
  margin-bottom: 0;
}

.content-view-td:empty {
  width: 1%;
}

.content-view-td-content:not(:empty) {
  min-width: 333px;
  width: 30%;
}

.content-view-td-title:not(:empty) {
  font-weight: bold;
  min-width: 264px;
}

.content-view-td-related:not(:empty) {
  min-width: 264px;
}

.content-view-td-related,
.content-view-td-related > ul.requirement__link {
  font-size: .85rem;
  margin-top: 0;
}

.content-view-td-related > ul.requirement__link:last-child {
  margin-bottom: 0;
}

sdoc-main-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-placeholder);
  font-weight: 700;
  font-family: var(--code-font-family);
}
