/* diff */
:root {
  --pre-stripe: 20px;
  --pre-stripe-color: rgba(0,0,0,0.02);
  --pre-block-bg-color: rgba(0,0,0,0.01);

  --diff-block-color-left: rgba(255, 55, 55, .05);
  --diff-word-color-left: rgba(255, 55, 55, .2);
  --diff-icon-color-left: rgba(255, 55, 55, .75);
  --diff-document-color-left: rgba(255, 55, 55, 1);

  --diff-block-color-right: rgba(20, 120, 20, .05);
  --diff-word-color-right: rgba(20, 120, 20, .2);
  --diff-icon-color-right: rgba(20, 120, 20, .75);
  --diff-document-color-right: rgba(20, 120, 20, 1);
}

.diff_controls {
  text-align: center;
}

#diff_left_open {
  color: var(--diff-document-color-left);
}

#diff_right_open {
  color: var(--diff-document-color-right);
}

#diff_left_close,
#diff_right_close {
  color: var(--color-link);
}

#diff_left_open:hover,
#diff_right_open:hover {
  color: var(--color-hover);
}

/* columns */
.diff {
  overflow: auto;
  overflow-y: scroll;
  overflow-wrap: break-word;
  /* border: 1px solid var(--thumbBG); */
  border-radius: 4px;
  border: 1px solid var(--color-border);

  /* for position:sticky*/
  position: relative;
}

.diff[left] {
  direction:rtl;
}

.diff[right] {
  direction:ltr;
}

.diff_inner {
  direction: initial;
}

.diff_content {
  display: flex;
  flex-direction: column;
  gap: var(--base-rhythm);
  padding: var(--base-rhythm);
}

/* details with summary */

.diff details {
  width: 100%;
}

.diff summary {
  list-style: none;
  display: flex;
  gap: var(--base-rhythm);
  cursor: pointer;
  color: var(--color-link);
}

.diff details[modified] > summary {
  color: var(--color-fg-accent);
}

.diff details[modified="left"] > summary {
  color: var(--diff-document-color-left);
}

.diff details[modified="right"] > summary {
  color: var(--diff-document-color-right);
}

.diff summary:hover,
.diff details[modified] > summary:hover {
  color: var(--color-hover);
}

.diff summary::-webkit-details-marker {
  display: none;
}

.diff details > summary::before {
  content:"+";
}

.diff details[open] > summary::before {
  content:"–";
}

/* document / details */

details.diff_document {
  background-color: var(--color-bg-contrast);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 var(--base-rhythm);
}

details.diff_document[modified] {
  border-color: var(--color-fg-accent);
}

details.diff_document[modified="left"] {
  border-color: var(--diff-document-color-left, rgba(255, 55, 55, 1));
}

details.diff_document[modified="right"] {
  border-color: var(--diff-document-color-right, rgba(20, 120, 20, 1));
}

.diff_document > summary {
  line-height: 1.2;
  padding: var(--base-rhythm) 0;
  justify-content: space-between;
  align-items: center;
}

.diff_document[open] > summary {
  /*
  When the details are closed up, the summary sometimes covers the bottom border.
  That's why we only add the background for cases where the card is open
  and sticking makes sense.
  */
  background: var(--color-bg-contrast);
  position: sticky;
  top: 0;
}

.diff_document > summary .document_title {
  flex-grow: 1;
}

.diff_document[open] > summary {
  border-bottom: 1px dotted;
}

.diff_document > summary::before,
.diff_document[open] > summary::before {
  content: none !important;
}

.diff_document > summary::after {
  content:"+";
}

.diff_document[open] > summary::after {
  content:"–";
}

/* folder */

.diff_folder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: calc(var(--base-rhythm)/2);
  font-size: var(--font-size-sm);
  min-width: 0;
  line-height: 1.5;
  padding-top: var(--base-rhythm);
}

/* node content */

.diff_node {
  margin: var(--base-rhythm) 0;
}

.diff_node_fields {
  display: flex;
  flex-direction: column;
  row-gap: var(--base-rhythm);

  /* in node and in doc as Abstract: */
  padding-top: var(--base-rhythm);
}

.diff_node > .diff_node_fields {
  /* in node only: */
  margin-bottom: calc(var(--base-rhythm)*2);
  padding-left: calc(var(--base-rhythm)*2);

  /* padding-left: calc(var(--base-rhythm)*1.5);
  border-left: 1px dotted; */

  /* border-left: var(--base-rhythm) solid rgba(0,0,0,0.01);
  padding-left: calc(var(--base-rhythm)*1); */
}

.diff_node_field {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: var(--base-rhythm);
}

/* badge */

.badge::before {
  content: attr(text);
  padding: 0 calc(var(--base-rhythm)/2);
  border: 1px solid;
  border-radius: calc(var(--base-rhythm)/2);
  font-size: var(--font-size-xxsm);
  font-weight: 600;
  text-transform: uppercase;
}

/* in summary: */
[modified="left"] > summary .badge::before,
/* in field: */
[modified="left"] > .badge::before {
  color: white;
  background-color: var(--diff-icon-color-left);
  border-color: var(--diff-icon-color-left);
}

/* in summary: */
[modified="right"] > summary .badge::before,
/* in field: */
[modified="right"] > .badge::before {
  color: white;
  background-color: var(--diff-icon-color-right);
  border-color: var(--diff-icon-color-right);
}

/* pre */

.sdoc_pre_content {
  flex-grow: 1;
  white-space: pre-wrap;
  overflow-x: clip;
  font-family: monospace;
  font-size: 0.85em;
  line-height: var(--pre-stripe);
  background-image: repeating-linear-gradient(
    to bottom,
    var(--pre-stripe-color),
    var(--pre-stripe-color) var(--pre-stripe),
    transparent var(--pre-stripe),
    transparent calc(var(--pre-stripe)*2)
  );
  background-color: var(--pre-block-bg-color);
}

[modified="left"] > .sdoc_pre_content {
  background-color: var(--diff-block-color-left);
}
.lambda_red {background-color: var(--diff-word-color-left);}

[modified="right"] > .sdoc_pre_content {
  background-color: var(--diff-block-color-right);
}
.lambda_green {background-color: var(--diff-word-color-right);}


