:root {
  --requirement-container-limit: 500px;
  --requirement-border-color: rgb(191,191,191);
  --requirement-border-width: 1px;
  --requirement-border-radius: 4px;
  --requirement-inner-borders-width: 1px;
  --requirement-label-color: var(--color-fg-secondary, #808080);
  --requirement-bg-dark-color: var(--color-bg-main, #F2F5F9);
  --requirement-bg-light-color: var(--color-bg-contrast, #FFFFFF);

  --requirement-base-rhythm: var(--base-rhythm, 8px);
}

/* sdoc-requirement */

sdoc-requirement {
  display: grid;
  grid-template-columns: minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
  place-items: stretch stretch;
  place-content: stretch stretch;
  gap: var(--requirement-inner-borders-width);

  position: relative;
  border:
    var(--requirement-border-width, 1px)
    solid
    var(--requirement-border-color, #bfbfbf);

  border-radius: var(--requirement-border-radius);
  background-color: var(--color-bg-contrast);

  min-width: 300px;

  /* and use overflow-wrap: break-word; in the field */
  max-width: 100%;
  overflow-x: auto;
}

sdoc-requirement-title {
  display: block;

  font-size: 1.125em;
  font-weight: 700;

  padding-left: calc(var(--requirement-base-rhythm)*2);
  padding-right: calc(var(--requirement-base-rhythm)*2);
  padding-top: calc(var(--requirement-base-rhythm)*1);
  padding-bottom: calc(var(--requirement-base-rhythm)*1);

  border-top-right-radius: var(--requirement-border-radius);
  border-top-left-radius: var(--requirement-border-radius);

  background-color: var(--requirement-bg-dark-color);
  /* border-bottom: */
  outline: 1px solid var(--requirement-border-color);

  word-break: break-word;
  overflow-wrap: break-word;
}

[node-style="card"] sdoc-requirement-title {
  font-size: 1em;
}

sdoc-requirement-uid {
  display: block;
  padding-left: calc(var(--requirement-base-rhythm)*2);
  padding-right: calc(var(--requirement-base-rhythm)*2);
  padding-top: calc(var(--requirement-base-rhythm)*1);
  padding-bottom: calc(var(--requirement-base-rhythm)*1);
  font-size: var(--font-size-sm);
  font-family: var(--code-font-family);
  font-weight: 700;

  text-transform: uppercase;
  color: var(--requirement-label-color);

  word-break: break-word;
  overflow-wrap: break-word;
}

sdoc-requirement-field-label {
  display: flex;
  align-items:flex-start;

  padding-left: calc(var(--requirement-base-rhythm)*2);
  padding-right: calc(var(--requirement-base-rhythm)*2);
  padding-top: calc(var(--requirement-base-rhythm)*1.75);
  padding-bottom: calc(var(--requirement-base-rhythm)*1);

  font-size: var(--font-size-sm);
  font-family: var(--code-font-family);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--requirement-label-color);

  /* @mettta and @stanislaw are commenting this out because the REQUIREMENT's field names
     were split apart, even though there was enough screen width
    word-break: break-word;
  */
  overflow-wrap: break-word;
}

sdoc-requirement-field {
  display: block;
  position: relative;

  padding-left: calc(var(--requirement-base-rhythm)*2);
  padding-right: calc(var(--requirement-base-rhythm)*2);
  padding-top: calc(var(--requirement-base-rhythm)*1);
  padding-bottom: calc(var(--requirement-base-rhythm)*1);

  word-break: break-word;
  overflow-wrap: break-word;
}

[data-viewtype="html2pdf"] sdoc-requirement-field-label {
  word-break: normal;
}

/* for relations in requirement */
sdoc-requirement-field > ol:first-child,
sdoc-requirement-field > ul:first-child {
  margin-top: 0;
}
sdoc-requirement-field > ol:last-child,
sdoc-requirement-field > ul:last-child {
  margin-bottom: 0;
}

/* requirement-view="table" */

sdoc-requirement[requirement-view="table"] {
  /* grid: */
  grid-template-columns: minmax(80px, min-content) minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
  /* border: */
  background-color: var(--requirement-border-color);
}

sdoc-requirement[requirement-view="table"]
  sdoc-requirement-title {
    grid-column: 1 / 3;
  }

sdoc-requirement[requirement-view="table"]
  sdoc-requirement-field-label {
    grid-column: 1 / 2;
    background-color: var(--requirement-bg-dark-color);
  }

sdoc-requirement[requirement-view="table"]
  sdoc-requirement-field {
    grid-column: 2 / 3;
    background-color: var(--requirement-bg-light-color);
  }

sdoc-node:not([node-style="card"]) {
  /* Making the node a container for the requirement: */
  container: node / inline-size;
  /*
  HACK: [sdoc-node outline hack]
    Buggy behavior for @container CSS feature:
    after window resize, the 1px vertically space
    appears randomly between nodes.
  */
  outline: 1px solid #fff;
  margin: 1px 0;
}

/* calc(var(--card-width) + calc(var(--base-padding)*4)) */
/* 300 + 16*4 = 364 */
@container node (width < 400px) {
  sdoc-requirement[requirement-view="table"] {
    /* removes columns: */
    grid-template-columns: minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
    /* removes inner border: */
    background-color: var(--requirement-bg-light-color);
  }

  sdoc-requirement[requirement-view="table"]
    sdoc-requirement-title,
  sdoc-requirement[requirement-view="table"]
    sdoc-requirement-field-label,
  sdoc-requirement[requirement-view="table"]
    sdoc-requirement-field {
      /* removes columns: */
      grid-column: unset;
    }
}

@supports not (container-type: inline-size) {
  /* TODO test 888px */
  @media (max-width: 888px) {
    /* Do the same as if there was a container support */

    sdoc-requirement[requirement-view="table"] {
      /* removes columns: */
      grid-template-columns: minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
      /* removes inner border: */
      background-color: var(--requirement-bg-light-color);
    }

    sdoc-requirement[requirement-view="table"]
      sdoc-requirement-title,
    sdoc-requirement[requirement-view="table"]
      sdoc-requirement-field-label,
    sdoc-requirement[requirement-view="table"]
      sdoc-requirement-field {
        /* removes columns: */
        grid-column: unset;
      }
  }
}

/* requirement-view="zebra" */

sdoc-requirement[requirement-view="zebra"] {
  grid-template-columns: minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
}

sdoc-requirement[requirement-view="zebra"]
  sdoc-requirement-field-label {
    background-color: var(--requirement-bg-dark-color);
  }

sdoc-requirement[requirement-view="zebra"]
  sdoc-requirement-field {
    background-color: var(--requirement-bg-light-color);
  }

/* requirement-view="simple" */

sdoc-requirement[requirement-view="simple"] {
  grid-template-columns: minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
}

sdoc-requirement[requirement-view="simple"]
sdoc-requirement-field-label {
  background-color: #fff;
  padding-bottom: 0;
}

/* section */

sdoc-section,
sdoc-section-title {
  display: block;
  margin: 0;
}

sdoc-section-title {
  font-weight: 700;
}

sdoc-section-title {
  margin-bottom: var(--base-padding);
}

sdoc-section-title:last-child {
  margin-bottom: 0;
}

sdoc-section-title * {
  margin: 0;

  /* This rule, when the element starts the page when printed,
     creates illegal margins,
     which breaks the rhythm of HTML2PDF4DOC
     and generates blank pages:
  */
  /* display: inline; */
}

/* TEXT node */

sdoc-text,
sdoc-section-text {
  display: block;
  margin: 0;
}

sdoc-section-text {
  margin-top: var(--base-padding);
}

sdoc-section-text:first-child {
  margin-top: 0;
}

/* meta */

sdoc-meta {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, 1fr);
  place-items: stretch stretch;
  place-content: stretch stretch;
  position: relative;
  border:
    var(--requirement-border-width, 1px)
    solid
    var(--requirement-border-color, #bfbfbf);
  border-radius: var(--requirement-border-radius);

  font-size: var(--font-size-sm);
  line-height: 24px; /* to keep the copy button from expanding out of the content line */
  /* margin: var(--base-padding) 0; */
  margin: 0;
  padding: calc(var(--requirement-base-rhythm)*0.5);
  row-gap: 2px;

  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
}

sdoc-meta-section,
sdoc-meta-label,
sdoc-meta-field {
  display: flex;
  align-items: flex-start;
  padding: calc(var(--requirement-base-rhythm)*0.25) var(--requirement-base-rhythm);
  background-color: var(--color-bg-contrast);
}

sdoc-meta-label {
  grid-column: 1 / 2;
  font-family: var(--code-font-family);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--requirement-label-color);
  background-color: var(--color-bg-secondary);
}

sdoc-meta-field {
  grid-column: 2 / 3;
}

sdoc-meta-section {
  grid-column: 1 / -1;
}

/* PDF */
/* There is no sdoc-node wrapper, so such neighbours and nesting is possible. */
sdoc-text + sdoc-text,
sdoc-text + sdoc-section,
sdoc-text + sdoc-requirement,
sdoc-text + sdoc-section-title,
sdoc-section + sdoc-text,
sdoc-section + sdoc-section,
sdoc-section + sdoc-requirement,
sdoc-section + sdoc-section sdoc-section-title,
sdoc-requirement + sdoc-text,
sdoc-requirement + sdoc-requirement,
sdoc-requirement + sdoc-section,
sdoc-requirement + sdoc-section sdoc-section-title {
  margin-top: calc(var(--base-rhythm)*4);
}

/* requirement type tag */

.requirement__type-tag {
  /* font-size: var(--font-size-sm);
  font-family: var(--code-font-family);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase; */
  color: var(--requirement-label-color);
  white-space: nowrap;
}
