* {
  margin: 0;
  padding: 0;
}

[data-viewtype="source-file"] {
  --source-line: 1px solid rgba(0, 0, 0, .05);
}

/* left panel */

.source-file__aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* left scrollable panel */

.source-file__refer { /* wrapper */
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.source-file__toc {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding:  calc(var(--base-padding)*2)
            calc(var(--base-padding) / 2)
            calc(var(--base-padding)*4)
            var(--base-padding);

  font-size: var(--font-size-sm);

  transition: margin-left .5s;
  scrollbar-color: transparent var(--scrollbarBG);
}

.source-file__toc:hover {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.source-file__toc::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.source-file__toc:hover::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG)
}

.source-file__toc-range {
  margin-bottom: 2rem;
}

.source-file__toc-range-header {
  font-size: x-small;
}

/* SDOC-NODE in SOURCE */

.source-file__requirement {
  position: relative;
  /* padding: var(--base-padding); */
  /* background-color: var(--color-bg-secondary);*/
  border: 1px solid var(--color-border);
  border-radius: calc(var(--base-rhythm) / 2);
  padding: var(--base-rhythm);
  margin: var(--base-rhythm) 0;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  font-size: var(--font-size-xsm);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

.source-file__requirement_link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: right;
  padding: 0.25rem;

  /* content: '⎘'; */
  padding-top: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.source-file__requirement_link::after {
  /* content: '⎘'; */
  /* content: '⤴'; */
  content: '⎘';
  /* font-weight: bold; */
}

.source-file__requirement.active {
  /* background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-fg-contrast); */
}

.source-file__requirement-info {
  margin-bottom: var(--base-rhythm);
}

/* requirement_file */

[data-viewtype="source-file"] .requirement_file li {
  position: relative;
}

[data-viewtype="source-file"] .requirement_file li > a,
[data-viewtype="source-file"] .requirement_file li > span {
  display: inline-block;
  padding: .15rem .25rem .15rem 0;
  line-height: 1;
}

[data-viewtype="source-file"] .current_file_pseudolink {
  font-weight: bold;
  color: #808080;
}

/* CODE */

.source-file__source {
  /* position: relative; */
  position: absolute;
  inset: 0px;
  overflow: auto;

  padding: 66px 0;
  transition: box-shadow 0.3s ease-in;
}

.source {
  display: grid;
  grid-template-columns:
    minmax(min-content, max-content)
    minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
  gap: 0 0;
  place-items: stretch stretch;
  transition: transform 0.3s ease-in;
  position: relative;

  width: max-content;

  font-size: 14px;
  z-index: 1;

  border-top: var(--source-line);
  background: var(--color-bg-contrast);
}

.source_highlight {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--color-highlight);
  z-index: -1;
  transition: height 0.3s ease-in, top 0.3s ease-in;
}

/* source__range */

.source__range {
  grid-column: 1 / -1;
  display: contents;
}

.source__range-cell {
  background-color: var(--color-bg-main);
  /* background-color: var(--color-bg-contrast); */
  /* grid-column: 1 / -1; */
  /* border-bottom: var(--source-line); */
  /* padding-left: 4rem; */
}

.source__range-start {
  /* padding-top: 2rem; */
}

.source__range-end {
  padding-top: 2px;
  padding-bottom: 12px;
  /* background-color: var(--color-bg-main); */
  background-color: var(--color-bg-contrast);
  font-size: 9px;

  display: none;
}

.source__range-banner {
  /* grid-column: 1 / -1; */
  background-color: var(--color-bg-main);
  padding: 0 1rem 1rem 0;
}

.source__range.collapsed .source__range-banner {
  display: none;
}

.source__range-banner sdoc-requirement[requirement-view="table"] sdoc-requirement-field-label {
  background-color: var(--requirement-bg-light-color);
}

.source__range-header {
  /* font-size: x-small; */
  /* font-weight: bold; */
  padding: var(--base-rhythm);
}

ul.source__range-titles-list {
  margin: var(--base-rhythm);
  list-style-type: none;
}

.source__range.collapsed .source__range-header,
.source__range.collapsed .source__range-titles-list {
  display: block;
}

.source__range .source__range-header {
  /* display: none; */
}

.source__range.expanded .source__range-cell {
  /* background-color: var(--color-bg-contrast); */
}

.source__range.expanded .source__range-titles-list {
  display: none;
}

/* .source__range-buttons */

.source__range-buttons {
  display: flex;
  gap: calc(var(--base-rhythm)/2);
  padding: calc(var(--base-rhythm)/2) 0;
}

.source__range-pointer.action_button {
  padding: 0 var(--base-rhythm) !important;
}

/* source__range-handler */

/* .source__range .source__range-handler:hover .collapsed,
.source__range.expanded .source__range-handler:hover .expanded */
.source__range .source__range-handler .expanded,
.source__range.expanded .source__range-handler .collapsed {
  display: none;
}

/* .source__range .source__range-handler:hover .expanded,
.source__range.expanded .source__range-handler:hover .collapsed, */
.source__range .source__range-handler .collapsed,
.source__range.expanded .source__range-handler .expanded {
  display: unset;
}

/* source__line */

.source__line {
  grid-column: 1 / -1;
  display: contents;
}

.source.coverage .source__line.covered > div {
  background: rgba(75, 255, 0, 0.2);
}

.source__line.highlighted > div {
  background: var(--color-highlight) !important;
}

/* line-number */

.source__line-number {
  grid-column: 1 / 2;
  padding: 0.25rem 1rem 0.25rem 2rem;
  text-align: right;
  border-bottom: var(--source-line);
  color: var(--color-fg-secondary);
  user-select: none;
  position: relative;
}

/* line content */

.source__line-content {
  grid-column: 2 / 3;
  padding: 0.25rem 1rem 0.25rem .5rem;
  border-bottom: var(--source-line);
  border-left: var(--source-line);
}

/* pointers */

/* source-file__source */

.source__range-pointer {
  display: inline-block;
  font-size: x-small;
  padding: 0 calc(var(--base-rhythm)/2);
}

.source__range-pointer.active {
  background-color: var(--color-highlight) !important;
  color: var(--color-fg-contrast) !important;
}

.source__range-pointer .source__range-pointer_description {
  font-weight: normal;
}

.source-file__toc-range-description {
  padding-left: var(--base-rhythm);
}

/* Pygments */

.highlight {
  background: transparent !important;
}
