* {
  margin: 0;
  padding: 0;
}

[data-viewtype="source-file"] {
  --source-line: 1px solid rgba(0, 0, 0, .05);
}

/* left panel */

.source-file__aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* left scrollable panel */

.source-file__refer { /* wrapper */
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.source-file__toc {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: calc(var(--base-rhythm)*2);
  padding-bottom: calc(var(--base-rhythm)*8);

  font-size: var(--font-size-sm);

  transition: margin-left .5s;
  scrollbar-color: transparent var(--scrollbarBG);
}

.source-file__toc:hover {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.source-file__toc::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.source-file__toc:hover::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG)
}

/* SDOC-NODE in SOURCE */

.source-file__requirement {
  position: static;
  padding: var(--base-padding);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  margin: 1rem 0 0 0;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  font-size: var(--font-size-xsm);
}

.source-file__requirement.active {
  background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-fg-contrast);
}

[data-viewtype="source-file"] .requirement_file li {
  position: relative;
}

[data-viewtype="source-file"] .requirement_file li > a,
[data-viewtype="source-file"] .requirement_file li > span {
  display: inline-block;
  padding: .15rem .25rem .15rem 0;
  line-height: 1;
}

[data-viewtype="source-file"] .current_file_pseudolink {
  font-weight: bold;
  color: #808080;
}

/* REQS */

.source-file__refer > * {
  margin-bottom: 3rem;
}

.source-file__refer summary {
  display: block;
  padding: var(--base-padding);
  background-color: #fff;
  color: var(--color-accent);;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-right: 2rem;
  font-size: 0.85rem;
}

.source-file__refer summary::-webkit-details-marker {
  display: none;
}

.source-file__refer summary::before {
  /* content: '⊕'; */
  content: '\25B6';
  text-align: right;
  line-height: 1;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.source-file__refer details[open] > summary::before {
  /* content: '⊖'; */
  content: '\25BC';
}

/* CODE */

.source-file__source {
  /* position: relative; */
  position: absolute;
  inset: 0px;
  overflow: auto;

  padding: 66px 0;
  transition: box-shadow 0.3s ease-in;
}

.source {
  display: grid;
  grid-template-columns:
    minmax(min-content, max-content)
    minmax(0, 1fr); /* issue#1370 https://css-tricks.com/preventing-a-grid-blowout/ */
  gap: 0 0;
  place-items: stretch stretch;
  transition: transform 0.3s ease-in;
  position: relative;

  font-size: 14px;
  z-index: 1;

  border-top: var(--source-line);
}

.source_highlight {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--color-highlight);
  z-index: -1;
  transition: height 0.3s ease-in, top 0.3s ease-in;
}

/* source__range */

.source__range {
  grid-column: 1 / -1;
  display: contents;
}

.source__range-cell {
  background-color: var(--color-bg-main);
  /* background-color: var(--color-bg-contrast); */
  /* grid-column: 1 / -1; */
  border-bottom: var(--source-line);
  /* padding-left: 4rem; */
}

.source__range-start {
  padding-top: 2rem;
}

.source__range-end {
  padding-top: 2px;
  padding-bottom: 12px;
  /* background-color: var(--color-bg-main); */
  background-color: var(--color-bg-contrast);
  font-size: 9px;

  display: none;
}

.source__range-header {
  font-size: xx-small;
  font-weight: bold;
  padding: 0.25rem;
}

.source__range.collapsed .source__range-banner {
  display: none;
}

.source__range.collapsed .source__range-header {
  display: block;
}

.source__range .source__range-header {
  /* display: none; */
}

.source__range.expanded .source__range-cell {
  background-color: var(--color-bg-contrast);
}

/* source__range-handler */

.source__range-handler {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}

.source__range-handler::after {
  content: '›‹';
  transform: rotate(90deg);
}

.source__range .source__range-handler::after {
  content: '›‹';
}

.source__range.collapsed .source__range-handler::after {
  content: '‹›';
}

.source__range .source__range-handler:hover::after {
  content: '› ‹';
}

.source__range.collapsed .source__range-handler:hover::after {
  content: '‹ ›';
}

/* source__line */

.source__line {
  grid-column: 1 / -1;
  display: contents;
}

.source.coverage .source__line.covered > div {
  background: rgba(75, 255, 0, 0.2);
}

.source__line.highlighted > div {
  background: var(--color-highlight) !important;
}

/* line-number */

.source__line-number {
  grid-column: 1 / 2;
  padding: 0.25rem 1rem 0.25rem 2rem;
  text-align: right;
  border-bottom: var(--source-line);
  color: var(--color-fg-secondary);
  user-select: none;
  position: relative;
}

/* line content */

.source__line-content {
  grid-column: 2 / 3;
  padding: 0.25rem 1rem 0.25rem .5rem;
  border-bottom: var(--source-line);
  border-left: var(--source-line);
}

/* pointers */

/* source-file__source */

.source__range-pointer {
  display: inline-block;
  font-size: x-small;
  font-weight: bold;
  padding: 0 0.25rem;
}

.source__range-pointer.active {
  background-color: var(--color-highlight);
}

.source__range-pointer .source__range-pointer_description {
  display: inline;
  font-weight: normal;
  text-decoration: none;
}

/* Pygments */

.highlight {
  background: transparent !important;
}
