<div class="main">
    <div>
      {% if view_object.should_display_fragments_toggle() %}
      <div id="project_tree_controls" class="project_tree-controls">{# must to be empty #}</div>
      {% endif %}
      {%- include "components/switch/index.jinja" -%}
    </div>
    {% include "features/project_index/frame_project_tree.jinja.html" %}
</div>
