/* layout-with-toc */

:root {
  --toc-layout-transition: 0.5s;

  --toc-list-padding: 10px;
  --toc-font-size: 14px;
  --toc-panel-bg: var(--color-bg-mac);
  --toc-panel-bg-hover: var(--color-bg-main);
  --toc-link-color: var(--color-text-lighter);
  --toc-active-link-color: var(--color-text-main);

  --toc-width-index: 22;

  --content-padding-index: 3;

  --toc-width: 330px;
  --toc-toggle-width: 48px;
}

.layout-with-toc main {
  position: relative;
}

.layout-with-toc header.document-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: var(--toc-toggle-width);

  display: flex;
  align-items: center;

  padding: var(--toc-font-size);
  padding-left: calc(var(--toc-toggle-width) + var(--toc-toggle-width));
  padding-right: calc(var(--toc-toggle-width) + var(--toc-width));

  background-color: var(--toc-panel-bg);
  border-bottom: 2px solid var(--code-border-color);
  box-shadow: 0 24px 24px var(--toc-panel-bg);

  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-accent-dark);
}

.layout-with-toc article {
  margin: calc(var(--toc-toggle-width) * 2);
  box-sizing: content-box;
}

/* *** */

.section-number {
  font-size: 1em;
  padding-right: 0.25em;
}

.link-back-to-index {
  float: right;
  font-size: 14px;
  color: var(--color-text-lighter);
}

.link-back-to-index:hover {
  color: var(--color-text-main);
}


/* aside.toc */

.toc {
  position: fixed;
  z-index: 10;
  width: var(--toc-width);
  top: 0;
  bottom: 0;
}

.toc_document-title {
  position: fixed;
  width: 100%;
  height: var(--toc-toggle-width);
  padding: var(--toc-font-size);
  padding-left: calc(var(--toc-width) + var(--toc-font-size) * 3 + var(--toc-width));
}

header.toc_header {
  position: absolute;
  padding:           var(--toc-font-size);
  padding-left: calc(var(--toc-font-size) * 1.75);
  top: 0;
  left: 0;
  right: 0;
  height: var(--toc-toggle-width);
  background-color: var(--toc-panel-bg);
  border-bottom: 1px solid var(--code-border-color);
}

.toc_title {
  font-weight: bold;
}

.toc_container {
  position: absolute;
  top: var(--toc-toggle-width);
  bottom: 0;
  left: 0;
  right: 0;
  padding-left:   calc(var(--toc-font-size) * 1.75);
  padding-right:  calc(var(--toc-font-size) * 1);
  padding-top:    calc(var(--toc-font-size) * 1);
  padding-bottom: calc(var(--toc-font-size) * 3);
  background-color: var(--toc-panel-bg);
  overflow: auto;
}

.toc_toggle {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: var(--toc-toggle-width);
  padding: var(--toc-font-size);
  text-align: center;

  background-color: var(--toc-panel-bg);
  border-right: 4px solid var(--code-border-color);

  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
}

.toc_toggle:hover {
  background-color: var(--toc-panel-bg-hover);
}

.toc_toggle::before {
  content: '\2715';
}

.toc_list,
.toc_list ul,
.toc_list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.toc_list ul {
  padding-left: var(--toc-list-padding);
}

.toc_list li {
  padding-top: calc(var(--toc-font-size) * 0.75);
  font-size: var(--toc-font-size);
}

.toc_list a:link,
.toc_list a:visited {
  color: var(--toc-link-color);
  text-decoration: none;
}

.toc_list a:hover {
  color: var(--toc-active-link-color);
  background-color: var(--toc-panel-bg-hover);
}

/* open / close */

.layout-with-toc[data-state="close"] {
  transition: var(--toc-layout-transition);
  margin-left: 0;
}

.layout-with-toc,
.layout-with-toc[data-state="open"] {
  margin-left: var(--toc-width);
  transition: var(--toc-layout-transition);
}

.layout-with-toc[data-state="close"] .toc {
  left: calc(var(--toc-width) * (-1));
  right: 100%;
  transition: var(--toc-layout-transition);
}

.layout-with-toc .toc,
.layout-with-toc[data-state="open"] .toc {
  left: 0;
  right: auto;
  transition: var(--toc-layout-transition);
}