
.requirement-statement {
  margin: 8px 0px;
}

.tag {
  background: #aaa;
  border-radius: 20px;
  margin: 2px 0px;
  padding: 3px 10px;
  display: inline-block;
}

#tags-outline {
  margin: 20px 0px;
}

/* TABLE styles */

.view-traceability * {
  box-sizing: border-box;
}

.view-traceability_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.view-traceability_cell {
  width: 33.33%;
  padding: .5em 0;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.cell-central {
  /* background-color: rgba(0,0,0,0.05); */
  /* flex-flow: row nowrap; */
  flex-flow: column nowrap;
}

.cell-parent,
.cell-children {
  background-color: #fff;
  flex-flow: column nowrap;
}

.cell-parent { padding-right: var(--traceability-arrow); }
.cell-children { padding-left: var(--traceability-arrow); }

.view-traceability .free_text {
  font-size: .9em;
  padding: .5em 0.75em;
  border: 1px dashed var(--color-table-border);
  background-color: #fff;
  position: relative;
}

.view-traceability .section-title {
  font-size: 1.6em;
  margin: 0.75rem 0 0.25rem;
  background-color: #fff;
  position: relative;
}

.view-traceability .section-title:only-child {
  margin: 0;
  padding: 0 0.75em;
  border: 1px solid var(--color-table-border);
}

.view-traceability .requirement {
  padding: .5em 0.75em;
  border: 1px solid var(--color-table-border);
  background-color: #fff;
  position: relative;
}

.view-traceability .requirement + .requirement {
  margin-top: .25em;
}

.cell-central .requirement {
  height: 100%;
  border: 1px solid #000;
}

/* requirement elements */

.view-traceability .requirement .section-title {
  font-size: 1.1em;
  margin: 0 0 0.5rem;
  line-height: 1.2;
}

.view-traceability .requirement h1 { font-size: 1.4em; }

.view-traceability .requirement .comment p:first-child::before {
  content: "Comment: ";
  font-weight: bold;
}

.view-traceability .requirement pre.code {
  font-size: 0.75em;
  line-height: 1.2;
  margin: 10px 0;
  padding: 10px 10px 10px 15px;
}

.view-traceability .requirement .image {
  width: 100%;
}

/* arrows */

.view-traceability .requirement::before,
.view-traceability .requirement::after {
  content: '\2192';
  position: absolute;
  top: 10px;
  display: block;
  width: var(--traceability-arrow);
  line-height: var(--traceability-arrow);
  font-size: calc(var(--traceability-arrow) * 1);
  text-align: center;
}

.view-traceability .requirement::after {
  right: calc(var(--traceability-arrow) *(-1));
}

.view-traceability .requirement::before {
  left: calc(var(--traceability-arrow) *(-1));
}