.requirement-statement {
  margin: 8px 0px;
}

.comment {
  margin: 10px 0px;
}

.comment:last-child {
  margin-bottom: 0px;
}

.comment p:first-child::before {
  content: "Comment: ";
  font-weight: bold;
}
