
/* table */

.view-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* table-layout: fixed; */
}

.view-table tr,
.view-table td {
  padding: 0;
  border: none;
  vertical-align: top;
}

/* .view-table_section-title {} */
/* .view-table_text {} */
.view-table_requirement-headers {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header);
  font-weight: bold;
  line-height: 1;
}

.view-table_requirement-headers td {
  border: 1px solid var(--color-table-border);
  padding: 10px;
}

/* .view-table_requirement {} */
.view-table_requirement td {
  padding: 10px;
  border: 1px solid var(--color-table-border);
}

/*
.view-table .cell-number {}
.view-table .cell-uid {}
.view-table .cell-title {}
*/

.view-table .cell-statement {
  width: 40%;
}
.view-table .cell-comment {
  width: 30%;
}

.view-table_requirement .cell-title  {
  color: var(--color-accent-dark);
  font-weight: bold;
  line-height: 1.2;
}

.view-table .requirement-statement {
  margin: 0px;
}

.view-table .requirement-statement p:first-child {
  margin-top: 0;
}

.view-table pre.code {
  width: 200px;
  margin: 0;
  font-size: 0.75em;
  line-height: 1.2;
  padding: 10px 10px 10px 15px;
}

@media (min-width: 768px) {
  .view-table pre.code {
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .view-table pre.code {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .view-table pre.code {
    width: 500px;
  }
}