
/* table */

.view-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.view-table .requirement-statement {
  margin: 0px;
}

.view-table .requirement-statement p:first-child {
  margin-top: 0;
}

.view-table tr,
.view-table td {
  padding: 0;
  border: none;
  vertical-align: top;
}

/* .view-table_section-title {} */
/* .view-table_text {} */
.view-table_requirement-headers {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header);
  font-weight: bold;
  line-height: 1;
}

.view-table_requirement-headers td {
  border: 1px solid var(--color-table-border);
  padding: 10px;
}

/* .view-table_requirement {} */
.view-table_requirement td {
  padding: 10px;
  border: 1px solid var(--color-table-border);
}

.view-table .cell-uid {}

.view-table .cell-title {
  width: 15%;
}
.view-table .cell-statement {
  width: 40%;
}
.view-table .cell-comment {
  width: 40%;
}

.view-table pre.code {
  width: 600px;
  margin: 0;
}

.tag {
  background: #aaa;
  border-radius: 20px;
  margin: 2px 0px;
  padding: 3px 10px;
  display: inline-block;
}