
.view-article {
  max-width: 800px;
  /* display: flex;
  flex-direction: column; */
}

.view-article > section,
/* TODO: обобщить с section */
.view-article > .free_text {
  padding: 1.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.requirement .comment p:first-child::before {
  content: "Comment: ";
  font-weight: bold;
}

.requirement .comment {
  padding-left: 1em;
  border-left: 4px double var(--comment-border-color);
}
