/* .view-traceability {} */

.view-traceability {
  display: flex;
  flex-flow: column nowrap;
}

.view-traceability_row {
  display: flex;
  flex-flow: row nowrap;
}

.view-traceability_column {
  width: 33%;
  min-width: calc(var(--primary-requirement-card-width) + var(--traceability-arrow));
  padding: calc(var(--traceability-outer-row-gap)*0.5) 0;
  overflow: hidden;
}

[data-requirement-role="parents"] {
  padding-right: var(--traceability-arrow);
}

[data-requirement-role="children"] {
  padding-left: var(--traceability-arrow);
}

.view-traceability .requirement {
  min-width: var(--primary-requirement-card-width);
}

/* RECURIVE */

.recursive_row,   /* ul */
.recursive_column /* li */ {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recursive_row {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--traceability-inner-row-gap);
}

.recursive_row:last-child {
  margin-bottom: 0;
}

.recursive_column {
  min-width: var(--secondary-requirement-card-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

[data-requirement-role="parents"] .recursive_row {
  /* parents are shown in reverse order: */
  flex-direction: row-reverse;
}

.recursive_cell {
  position: relative;
  height: 100%;
  width: var(--secondary-requirement-card-width);
  overflow: hidden;
}

[data-requirement-role="children"] .recursive_cell {
  /* shows an arrow on the left side: */
  padding-right: var(--traceability-arrow);
}

[data-requirement-role="parents"] .recursive_cell {
  /* shows an arrow on the right side: */
  padding-left: var(--traceability-arrow);
}

/* Requirement */

[data-requirement-role="current"] .requirement {
  border: 1px solid #000;
  background-color: #fff;
  height: 100%;
}

.view-traceability .free_text {
  font-size: .9em;
  padding: .5em 0.75em;
  border: 1px dashed var(--color-table-border);
  background-color: #fff;
  position: relative;
}

.view-traceability .section-title:only-child {
  font-size: 1.6em;
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0 0.75em;
  border: 1px solid var(--color-table-border);
}