{# needs sdoc_entity, see README.txt #}
{%- if sdoc_entity.reserved_uid %}
  <sdoc-requirement-uid>
    {%- with field_content = sdoc_entity.reserved_uid %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-requirement-uid>
{%- endif -%}
