{% extends "components/node/index.jinja" %}
{%- set sdoc_entity = node -%}
{%- set requirement = node -%}
{% block sdoc_entity %}
{% include "components/node_content/index.jinja" %}
{% endblock sdoc_entity %}
