{# needs sdoc_entity, see README.txt #}
  {%- set current_sdoc_entity = sdoc_entity -%}
  {%- set has_missing_parent_relations = view_object.traceability_index.get_missing_parent_relations(current_sdoc_entity) | length > 0 -%}
  {%- if view_object.traceability_index.has_parent_requirements(sdoc_entity) or has_missing_parent_relations %}
    <sdoc-node-field-label>RELATIONS (Parent):</sdoc-node-field-label>
    <sdoc-node-field data-field-label="parent relations">
      <ul class="requirement__link">
        {%- for sdoc_entity, relation_role_ in view_object.traceability_index.get_parent_relations_with_roles(sdoc_entity) %}
        {%- set display_role_ = view_object.traceability_index.get_display_role_for_parent_relation(current_sdoc_entity, sdoc_entity, relation_role_) %}
        <li>
          <a data-turbo="false" class="requirement__link-parent" href="{{ view_object.render_node_link(sdoc_entity) }}">
            {%- if sdoc_entity.reserved_uid %}
            <span class="requirement__parent-uid">{{ sdoc_entity.reserved_uid }}</span>
            {%- endif %}
            {{ sdoc_entity.reserved_title if sdoc_entity.reserved_title else "" }}
            {% if display_role_ is not none %}
              <span class="requirement__type-tag">({{ display_role_ }})</span>
            {% endif %}
          </a>
        </li>
        {%- endfor %}
      </ul>
    </sdoc-node-field>
    {{ view_object.render_issues(sdoc_entity, "RELATIONS (Parent)") }}
  {%- endif %}

  {%- set has_missing_child_relations = view_object.traceability_index.get_missing_child_relations(current_sdoc_entity) | length > 0 -%}
  {%- if view_object.traceability_index.has_children_requirements(sdoc_entity) or has_missing_child_relations %}
    <sdoc-node-field-label>RELATIONS (Child):</sdoc-node-field-label>
    <sdoc-node-field data-field-label="child relations">
      <ul class="requirement__link">
        {%- for sdoc_entity, relation_role_ in view_object.traceability_index.get_child_relations_with_roles(sdoc_entity) %}
        {%- set display_role_ = view_object.traceability_index.get_display_role_for_child_relation(current_sdoc_entity, sdoc_entity, relation_role_) %}
        <li>
          <a data-turbo="false" class="requirement__link-child" href="{{ view_object.render_node_link(sdoc_entity) }}">
            {%- if sdoc_entity.reserved_uid %}
            <span class="requirement__child-uid">{{ sdoc_entity.reserved_uid }}</span>
            {%- endif %}
            {{ sdoc_entity.reserved_title if sdoc_entity.reserved_title else "" }}
            {% if display_role_ is not none %}
              <span class="requirement__type-tag">({{ display_role_ }})</span>
            {% endif %}
          </a>
        </li>
        {%- endfor %}
      </ul>
    </sdoc-node-field>
    {{ view_object.render_issues(sdoc_entity, "RELATIONS (Child)") }}
  {%- endif %}
