{% set requirement_md5 = self_stats.get_md5_by_node(requirement) %}
{% set requirement_modified = not other_stats.contains_requirement_md5(requirement_md5) %}

<details
  class="diff_node"
  {% if requirement_modified %}
    modified="{{ side }}"
  {% endif %}
>
  <summary>
    {%- with badge_text = "R" -%}
      {%- include "components/badge/index.jinja" -%}
    {%- endwith -%}
    <span>
      {{ requirement.context.title_number_string if requirement.context.title_number_string else "&nbsp;" * (requirement.ng_level * 2 - 1) }}
    </span>
    {%- if requirement.reserved_title is not none -%}
      <span>
        {{ requirement.reserved_title }}
      </span>
    {%- endif -%}
    {% if requirement_modified and requirement.reserved_uid is not none and requirement.reserved_uid|length > 0 %}
      {%- with uid=requirement.reserved_uid -%}
        {%- include "screens/git/sync/button.jinja" -%}
      {%- endwith -%}
    {% endif %}
  </summary>

  {% include "screens/git/fields/requirement_fields.jinja" %}

</details>
