{% set section_change = change_stats.find_change(section) %}

<details
  class="diff_node"
  {% if section_change is not none %}
    modified="{{ side }}"
  {% endif %}
>
  <summary>
    {%- with badge_text = "S" -%}
      {%- include "components/badge/index.jinja" -%}
    {%- endwith -%}
    <span>
      {{ section.context.title_number_string if section.context.title_number_string else "&nbsp;" * (section.ng_level * 2 - 1) }}
    </span>
    <span>{{ section.title }}</span>
    {% if section_change is not none and section_change.matched_uid is not none %}
      {%- with uid=section_change.matched_uid -%}
        {%- include "screens/git/sync/button.jinja" -%}
      {%- endwith -%}
    {% endif %}
  </summary>

  {% include "screens/git/fields/section_fields.jinja" %}
</details>
