<div class="main">
  <div class="sdoc-table">
    <div class="sdoc-table-section">General information</div>

    <div class="sdoc-table-key">Project name:</div>
    <div class="sdoc-table-value">{{ project_config.project_title }}</div>

    <div class="sdoc-table-key">Statistics generation date:</div>
    <div class="sdoc-table-value">{{ date_now.strftime("%Y-%m-%d %H:%M:%S") }}</div>

    <div class="sdoc-table-key">Last modification of project data:</div>
    <div class="sdoc-table-value">{{ traceability_index.strictdoc_last_update.strftime("%Y-%m-%d %H:%M:%S") }}</div>

    <div class="sdoc-table-key">Git commit/release:</div>
    <div class="sdoc-table-value">{{ document_tree_stats.git_commit_hash }}</div>

    <div class="sdoc-table-key">Total documents:</div>
    <div class="sdoc-table-value">{{ document_tree_stats.total_documents }}</div>

    <div class="sdoc-table-section">Requirements</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=node.is_requirement') }}"
      >Total requirements:</a>
    {% else %}
      <div class="sdoc-table-key">Total requirements:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.total_documents }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["UID"] == None)') }}"
      >Requirements with no UID:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with no UID:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_no_uid }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node.is_root and node["STATUS"] != "Backlog" and not node.has_child_requirements)') }}"
      >Root-level requirements not connected to by any requirement:</a>
    {% else %}
      <div class="sdoc-table-key">Root-level requirements not connected to by any requirement:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_root_no_links }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and not node.is_root and node["STATUS"] != "Backlog" and not node.has_parent_requirements)') }}"
      >Non-root-level requirements not connected to any parent requirement:</a>
    {% else %}
      <div class="sdoc-table-key">Non-root-level requirements not connected to any parent requirement:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_no_links }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["RATIONALE"] == None)') }}"
      >Requirements with no RATIONALE:</a>
    {% else %}
    <div class="sdoc-table-key">Requirements with no RATIONALE:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_no_rationale }}</div>

    <div class="sdoc-table-section">Requirements status</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == None)') }}"
      >Requirements with no Status:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with no Status:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_status_none }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Active")') }}"
      >Requirements with status Active:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with status Active:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_status_active }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Draft")') }}"
      >Requirements with status Draft:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with status Draft:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_status_draft }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Backlog")') }}"
      >Requirements with status Backlog:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with status Backlog:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_status_backlog }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] != None and node["STATUS"] != "Backlog" and node["STATUS"] != "Active" and node["STATUS"] != "Draft")') }}"
      >Requirements with all other statuses:</a>
    {% else %}
      <div class="sdoc-table-key">Requirements with all other statuses:</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.requirements_status_other }}</div>

    <div class="sdoc-table-section">TBD/TBC</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=node.contains("TBD")') }}"
      >Total TBD:</a>
    {% else %}
      <div class="sdoc-table-key">Total TBD</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.total_tbd }}</div>

    {% if project_config.is_activated_search() %}
      <a class="sdoc-table-key"
        href="{{ link_renderer.render_url('search?q=node.contains("TBC")') }}"
      >Total TBC:</a>
    {% else %}
      <div class="sdoc-table-key">Total TBC</div>
    {% endif %}
    <div class="sdoc-table-value">{{ document_tree_stats.total_tbc }}</div>

  </div>
</div>{# / .main #}
