<div class="main">
  <style>
    .progress {
      border-collapse: collapse;
    }
    .progress td {
      border: 1px solid gray;
      padding: 10px 20px;
    }
  </style>
  <table class="progress">
    <td colspan="2"><b>General information</b></td>
    <tr>
      <td>Project name</td>
      <td>{{ project_config.project_title }}</td>
    </tr>
    <tr>
      <td>Statistics generation date</td>
      <td>{{ date_now.strftime("%Y-%m-%d %H:%M:%S") }}</td>
    </tr>
    <tr>
      <td>Last modification of project data</td>
      <td>{{ traceability_index.strictdoc_last_update.strftime("%Y-%m-%d %H:%M:%S") }}</td>
    </tr>
    <tr>
      <td>Git commit/release</td>
      <td>{{ document_tree_stats.git_commit_hash }}</td>
    </tr>
    <tr>
      <td>Total documents</td>
      <td>{{ document_tree_stats.total_documents }}</td>
    </tr>
    <tr>
      <td colspan="2"><b>Requirements</b></td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=node.is_requirement') }}"
        >
          Total requirements
        </a>
      </td>
      {% else %}
        <td>Total requirements</td>
      {% endif %}
      <td>{{ document_tree_stats.total_requirements }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["UID"] == None)') }}"
        >
          Requirements with no UID
        </a>
      </td>
      {% else %}
        <td>Requirements with no UID</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_no_uid }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node.is_root and node["STATUS"] != "Backlog" and not node.has_child_requirements)') }}"
        >
          Root-level requirements not connected to by any requirement
        </a>
      </td>
      {% else %}
      <td>Root-level requirements not connected to by any requirement</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_root_no_links }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and not node.is_root and node["STATUS"] != "Backlog" and not node.has_parent_requirements)') }}"
        >
          Non-root-level requirements not connected to any parent requirement
        </a>
      </td>
      {% else %}
      <td>Non-root-level requirements not connected to any parent requirement</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_no_links }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["RATIONALE"] == None)') }}"
        >
          Requirements with no RATIONALE
        </a>
      </td>
      {% else %}
      <td>Requirements with no RATIONALE</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_no_rationale }}</td>
    </tr>
    <tr>
    <td colspan="2"><b>Requirements status</b></td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == None)') }}"
        >
          Requirements with no Status
        </a>
      </td>
      {% else %}
      <td>Requirements with no Status</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_status_none }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Active")') }}"
        >
          Requirements with status Active
        </a>
      </td>
      {% else %}
        <td>Requirements with status Active</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_status_active }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Draft")') }}"
        >
          Requirements with status Draft
        </a>
      </td>
      {% else %}
        <td>Requirements with status Draft</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_status_draft }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] == "Backlog")') }}"
        >
          Requirements with status Backlog
        </a>
      </td>
      {% else %}
        <td>Requirements with status Backlog</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_status_backlog }}</td>
    </tr>
    <tr>
      {% if project_config.is_activated_search() %}
      <td>
        <a
          href="{{ link_renderer.render_url('search?q=(node.is_requirement and node["STATUS"] != None and node["STATUS"] != "Backlog" and node["STATUS"] != "Active" and node["STATUS"] != "Draft")') }}"
        >
          Requirements with all other statuses
        </a>
      </td>
      {% else %}
        <td>Requirements with all other statuses</td>
      {% endif %}
      <td>{{ document_tree_stats.requirements_status_other }}</td>
    </tr>
    <tr>
    <td colspan="2"><b>TBD/TBC</b></td>
    </tr>
    <tr>
      <td>Total TBD</td>
      <td>{{ document_tree_stats.total_tbd }}</td>
    </tr>
    <tr>
      <td>Total TBC</td>
      <td>{{ document_tree_stats.total_tbc }}</td>
    </tr>
  </table>
</div>
