<div class="main">
{% with table_key_value = [
  {"Section":"General information"},
  {
    "Key":"Project name",
    "Value": view_object.project_config.project_title,
  },
  {
    "Key":"Statistics generation date",
    "Value": view_object.get_datetime(),
  },
  {
    "Key":"Last modification of project data",
    "Value": view_object.traceability_index.strictdoc_last_update.strftime("%Y-%m-%d %H:%M:%S"),
  },
  {
    "Key":"Git commit/release",
    "Value": view_object.document_tree_stats.git_commit_hash,
  },
  {
    "Key":"Total documents",
    "Value": view_object.document_tree_stats.total_documents,
  },
  {"Section":"Sections"},
  {
    "Key":"Total sections",
    "Link": view_object.render_url('search?q=node.is_section'),
    "Value": view_object.document_tree_stats.total_sections,
  },
  {
    "Key":"Sections without any text",
    "Link": view_object.render_url('search?q=(node.is_section and not node.contains_any_text)'),
    "Value": view_object.document_tree_stats.sections_without_free_text,
  },
  {"Section":"Requirements"},
  {
    "Key":"Total requirements",
    "Link": view_object.render_url('search?q=node.is_requirement'),
    "Value": view_object.document_tree_stats.total_requirements,
  },
  {
    "Key":"Requirements with no UID",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["UID"] == None)'),
    "Value": view_object.document_tree_stats.requirements_no_uid,
  },
  {
    "Key":"Root-level requirements not connected to by any requirement",
    "Link": view_object.render_url('search?q=(node.is_requirement and node.is_root and node["STATUS"] != "Backlog" and not node.has_child_requirements)'),
    "Value": view_object.document_tree_stats.requirements_root_no_links,
  },
  {
    "Key":"Non-root-level requirements not connected to any parent requirement",
    "Link": view_object.render_url('search?q=(node.is_requirement and not node.is_root and node["STATUS"] != "Backlog" and not node.has_parent_requirements)'),
    "Value": view_object.document_tree_stats.requirements_no_links,
  },
  {
    "Key":"Requirements with no RATIONALE",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["RATIONALE"] == None)'),
    "Value": view_object.document_tree_stats.requirements_no_rationale,
  },
  {"Section":"Requirements status"},
  {
    "Key":"Requirements with no Status",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["STATUS"] == None)'),
    "Value": view_object.document_tree_stats.requirements_status_none,
  },
  {
    "Key":"Requirements with status Active",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["STATUS"] == "Active")'),
    "Value": view_object.document_tree_stats.requirements_status_active,
  },
  {
    "Key":"Requirements with status Draft",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["STATUS"] == "Draft")'),
    "Value": view_object.document_tree_stats.requirements_status_draft,
  },
  {
    "Key":"Requirements with status Backlog",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["STATUS"] == "Backlog")'),
    "Value": view_object.document_tree_stats.requirements_status_backlog,
  },
  {
    "Key":"Requirements with all other statuses",
    "Link": view_object.render_url('search?q=(node.is_requirement and node["STATUS"] != None and node["STATUS"] != "Backlog" and node["STATUS"] != "Active" and node["STATUS"] != "Draft")'),
    "Value": view_object.document_tree_stats.requirements_status_other,
  },
  {"Section":"TBD/TBC"},
  {
    "Key":"Total TBD",
    "Link": view_object.render_url('search?q=node.contains("TBD")'),
    "Value": view_object.document_tree_stats.total_tbd,
  },
  {
    "Key":"Total TBC",
    "Link": view_object.render_url('search?q=node.contains("TBC")'),
    "Value": view_object.document_tree_stats.total_tbc,
  },
]	%}
  {% include "components/table_key_value/index.jinja" %}
{% endwith %}
</div>{# / .main #}
