{%- if requirement.reserved_title %}
  <sdoc-requirement-title
  {# data-controller="copy_to_clipboard_button" #}
  >

    {# initiate the accumulating variable #}
    {%- set field_content_ = "" -%}

    {# add title 'number' part #}
    {%- if title_number is true -%}
      {%- if requirement.context.title_number_string %}
        {%- set field_content_ = field_content_ + requirement.context.title_number_string + ".&nbsp" -%}
      {%- endif -%}
    {%- endif -%}

    {# add title 'value' part #}
    {%- set title = requirement.reserved_title -%}
    {%- if title is not none -%}
      {%- set field_content_ = field_content_ + title -%}
    {%- endif -%}

    {# include template #}
    {%- with field_content = field_content_ %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-requirement-title>
{%- endif %}
