{% extends "components/modal/form.jinja" %}
{% set form = "sdoc_modal_form" %}
{% block modal__context %}{% endblock modal__context %}
{% block modal_form__header %}
Edit Relations
{% endblock modal_form__header %}
{% block modal_form__content %}
  <form
    id="{{ form }}"
    action="/actions/table/update_node_relations"
    method="POST"
    data-turbo="true"
  >
    <input type="hidden" name="requirement_mid" value="{{ form_object.requirement_mid }}"/>
    <input type="hidden" name="document_mid" value="{{ form_object.document_mid }}"/>
    <input type="hidden" name="context_document_mid" value="{{ form_object.context_document_mid }}"/>
    <input type="hidden" name="element_type" value="{{ form_object.element_type }}"/>
    <input type="hidden" name="revision" value="{{ form_object.revision }}"/>

    {#-
      All non-relation fields are sent as hidden inputs so that
      create_from_request() does not treat them as deleted on save.
    -#}
    {%- set form_data_turbo = "true" %}
    {%- include "screens/document/table/field_edit_mode/relations_body.jinja" %}
  </form>
{% endblock modal_form__content %}
{% block modal_form__footer_submit %}
  {%- with name="Save" -%}
    {% include "components/button/submit.jinja" %}
  {%- endwith -%}
{% endblock modal_form__footer_submit %}
