{#
  {{ form }}
  Defined in the parent modal/form template.
#}
<button
  {% if form is defined %}
    form="{{ form }}"
  {% endif %}
  data-turbo="true"
  title="See the diff"
  class="action_icon"
  type="submit"
  data-action-type="submit"
  data-testid="form-submit-action"
>{% include "icons/ico16_diff.svg" %}</button>
{# {{ submit_name|default('Search') }} #}
