/* dashboard */

.dashboard {
  gap: var(--base-padding);
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

.dashboard-main {
  flex-grow: 1;
}

.dashboard-aside {
  /* width: 30%; */
  /* max-width: 300px; */
  font-size: 0.75rem;
  display: flex;
  gap: var(--base-rhythm);
  flex-direction: column;
}

.dashboard-block:empty {
  display: none;
}

.dashboard-block {
  border: var(--base-border);
  border-radius: calc(0.5 * var(--base-rhythm));
  overflow: hidden;
  position: relative;
  padding: var(--base-rhythm);
}

.dashboard-block-title {
  font-weight: 600;
  position: relative;
  top: calc(-1 * var(--base-rhythm));
  color: var(--color-fg-secondary);
  padding: calc(0.5 * var(--base-rhythm)) 0;
  font-size: var(--font-size-xsm);
}

.dashboard-block-title::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: 0;
  background-color: rgba(0,0,0,0.025);
  border-bottom: var(--base-border);
}

.dashboard-path {
  overflow-wrap: anywhere;
}

.dashboard-path-external {
  cursor: pointer;
  padding: 0 0.2em;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.06);
}

.dashboard-path-external:hover,
.dashboard-path-external:focus {
  background-color: rgba(0,0,0,0.12);
}

.dashboard-path-external-full {
  display: none;
}

.dashboard-path.revealed .dashboard-path-external {
  display: none;
}

.dashboard-path.revealed .dashboard-path-external-full {
  display: inline;
}

.dashboard-excluded-via-gitignore summary {
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  background-color: var(--color-bg-secondary);
  outline: 4px solid var(--color-bg-secondary);
  color: var(--color-fg-accent);
}

.dashboard-excluded-via-gitignore summary:hover {
  color: var(--color-fg-hover);
}
