<template id="template-icon-checkbox">
  {# <li class="icon-checkbox__item"> #}
    <label class="icon-checkbox">
      <input type="checkbox">
      {%- include "icons/ico16_eye__stateful.svg" -%}
      <span></span>
    </label>
  {# </li> #}
</template>
