{# comments #}

{%- if requirement.comments %}
  {%- for comment in requirement.comments %}
    <sdoc-requirement-field-label>{{ requirement.get_field_human_title("COMMENT") }}:</sdoc-requirement-field-label>
    <sdoc-requirement-field
      data-field-label="comment"
    >
      {%- with field_content = renderer.render_comment(comment) -%}
        {%- include "components/field/index.jinja" -%}
      {%- endwith -%}
    </sdoc-requirement-field>
  {%- endfor %}
{%- endif %}
