{%- if document.free_texts -%}
  {%- for free_text in document.free_texts %}
    <div class="free_text">
      {{ renderer.render_free_text(document_type, free_text) }}
    </div>
  {%- endfor -%}
{%- elif not document.section_contents -%}
  <sdoc-main-placeholder data-testid="document-root-placeholder">
    The document is empty.
    <br/>Start adding text, sections, and requirements.
  </sdoc-main-placeholder>
{%- endif -%}
