{# TODO: change to 'text' #}
{%- if section.free_texts -%}
  {%- for free_text in section.free_texts -%}
  <sdoc-section-text>
    {%- with field_content = view_object.render_free_text(view_object.document_type, free_text) %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-section-text>
  {%- endfor -%}
{%- endif -%}
