{%- if view_object.project_config.is_running_on_server -%}
{#
  This turbo frame is important because it enables
  the child turbo links below.
#}
<turbo-frame>
  {% include "components/static_search/index.jinja" %}
  {%- with header__actions_template="screens/project_index/actions_buttons.jinja" -%}
    {% include "components/header/actions_wrapper.jinja" %}
  {%- endwith -%}
</turbo-frame>
{%- else -%}
  {% include "components/static_search/index.jinja" %}
{%- endif -%}
