{% set template_type = "Project index" %}

{% extends "base.jinja.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ link_renderer.render_static_url('tree.css') }}"/>
{% endblock head_css %}

{% block head_scripts %}
{%- if config.is_running_on_server -%}
  <script type="module">
    import hotwiredTurbo from "{{ link_renderer.render_static_url_with_prefix('turbo.js') }}";
    import { Application, Controller } from "{{ link_renderer.render_static_url_with_prefix('stimulus.js') }}";
    window.Stimulus = Application.start();
    window.Controller = Controller;
  </script>
  <script type="module" src="{{ link_renderer.render_static_url('controllers/editable_field_controller.js') }}"></script>
  <script type="module" src="{{ link_renderer.render_static_url('controllers/modal_controller.js') }}"></script>
{%- endif -%}
{% endblock head_scripts %}

{% block title %}
  {{ config.project_title }} - {{ template_type }}
{% endblock title %}

{% block viewtype %}document-tree{% endblock viewtype %}

{% block layout_nav %}
  {% include "_shared/nav.jinja.html" %}
{% endblock layout_nav %}

{% block toc_content %}
{% endblock toc_content %}

{% block header_content %}
  {%- with
      header__pagetype=true,
      header__last="screens/project_index/actions.jinja"
  -%}
    {% include "components/header/index.jinja" %}
  {%- endwith -%}
{% endblock header_content %}

{% block main_content %}
  {% include "screens/project_index/main.jinja" %}
{% endblock main_content %}
