
{% set node = document %}

{% if node.free_texts|length > 0 %}
{% set free_text = node.free_texts[0] %}
{% set free_text_md5 = self_stats.get_md5_by_node(free_text) %}
{% set free_text_modified = not other_stats.contains_free_text_md5(free_text_md5) %}
<div class="diff_node_fields">
<details
  {% if free_text_modified %}
    modified="{{ side }}"
  {% endif %}
>
  <summary>
  {%- with badge_text = "abstract" -%}
    {%- include "components/badge/index.jinja" -%}
  {%- endwith -%}
  </summary>

  <div
    class="sdoc_pre_content"
  >
    {%- set colored_diff = other_stats.get_diffed_free_text(node, side) -%}
    {%- if colored_diff is not none -%}
      {{ colored_diff }}
    {%- else -%}
      {{ free_text.get_parts_as_text_escaped() }}
    {%- endif -%}
  </div>
</details>
</div>
{% endif %}
