{%- if text_node.reserved_uid is not none and text_node.reserved_uid|length > 0 -%}
<sdoc-meta>
  <sdoc-meta-label>UID:</sdoc-meta-label>
  <sdoc-meta-field>
    {%- with field_content = text_node.reserved_uid %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-meta-field>
</sdoc-meta>
{%- endif %}
