<div class="tree-map-header-toolbar">
  <button
    class="action_button"
    data-testid="tree-map-tips-button"
    data-js-modal-template-trigger="tree-map-tips-modal-template"
    type="button"
  >?</button>
</div>
