<div class="source-file__aside">
  <div class="source-file__tools">
    <div id="sourceCodeCoverageFilter" class="source-file__requirements-filter"></div>
  </div>
  <div class="source-file__refer" id="referContainer">
    <div class="source-file__requirements">

      {%- set
          markers =
            view_object.traceability_index.get_source_file_markers(view_object.source_file.in_doctree_source_file_rel_path_posix)
      -%}

      {%- if markers -%}
      <div class="source-file__ranges">

        {%- for marker_ in markers -%}
          {% if marker_.begin_or_end %}
          <div>
          <a
            class="pointer"
            data-begin="{{ marker_.ng_range_line_begin }}"
            data-end="{{ marker_.ng_range_line_end }}"
            href="{{ view_object.render_marker_range_link(marker_) }}"
            data-traceability-file-type="this_file"
          >
          [{{ marker_.ng_range_line_begin }}-{{ marker_.ng_range_line_end }}]
          </a>
          {% for node_uid_ in marker_.reqs %}
            {{ view_object.render_aside_requirement(node_uid_) }}
          {% endfor %}
          </div>
          {% endif %}
        {%- endfor -%}

      </div>
      {%- endif -%}

    </div>
  </div>
</div>
