<div class="actions_group">
  <!-- {% include "_res/svg_ico16_filter.jinja" %} -->
  <!-- {% include "_res/svg_ico16_source_filter.jinja" %} -->
  <div id="sourceCodeCoverageSwitch" class="source-file__toggle-switch"></div>
</div>
