<div class="main">
{# todo: update this template #}
<div id="sourceContainer" class="source-file__source">
  {%- if view_object.pygmented_source_file_lines|length > 0 -%}
  <div id="source" class="source">
    {%- for line in view_object.pygmented_source_file_lines -%}
      {%- if line.__class__.__name__ == "SourceMarkerTuple" and not line.is_end() -%}
        <div class="" style="background-color: #fafafa;"></div>
        <div class="" style="background-color: #fafafa; visibility: visible; padding: 20px 0px;">
          {% if false %}
            {%- for marker_ in line.markers -%}
              {%- for req in marker_.reqs_objs -%}
                <a
                  class="pointer"
                  data-reqid="{{ req.uid }}"
                  data-begin="{{ marker_.ng_range_line_begin }}"
                  data-end="{{ marker_.ng_range_line_end }}"
                  data-traceability-file-type="this_file"
                  href="{{ view_object.link_renderer.render_requirement_in_source_file_range_link_using_id(req.uid, view_object.source_file.in_doctree_source_file_rel_path_posix, view_object.source_file, marker_) }}"
                  >{%- if marker_.is_end() -%}/{%- endif -%}{{ req.uid }}</a>
              {%- endfor -%}
            {%- endfor -%}
          {% else %}
            {%- for marker_ in line.markers -%}
              {%- for req in marker_.reqs_objs -%}
                {{ view_object.render_detailed_node_for_banner(req.uid) }}
              {%- endfor -%}
            {%- endfor -%}
          {% endif %}
        </div>
      {% endif %}
      <div id="line-{{ loop.index }}" class="source__line-number"><pre>{{ loop.index }}</pre></div>
      <div data-line="{{ loop.index }}" class="source__line-content">
        {%- if line.__class__.__name__ == "SourceMarkerTuple" -%}
          {# Note: Cannot format HTML/Jinja blocks within 'pre' tags! #}
          <pre class="sdoc-comment">{{ line.source_line }}</pre>
        {%- elif line != "" -%}
          {# <!-- Pygments --> #}
          <pre class="highlight">{{ line }}</pre>
        {%- else -%}
          <pre data-state="empty" style="user-select: none">&nbsp;</pre>
        {%- endif -%}
      </div>
      {%- if line.__class__.__name__ == "SourceMarkerTuple" and (line.is_end() or line.is_line_marker()) -%}
        <div class="" style="background-color: #fafafa;"></div>
        <div class="" style="background-color: #fafafa; visibility: visible; padding: 20px 0px;">
          {%- for marker_ in line.markers -%}
              {%- for req in marker_.reqs_objs -%}
              <a
                class="pointer"
                data-reqid="{{ req.uid }}"
                data-begin="{{ marker_.ng_range_line_begin }}"
                data-end="{{ marker_.ng_range_line_end }}"
                data-traceability-file-type="this_file"
                href="{{ view_object.link_renderer.render_requirement_in_source_file_range_link_using_id(req.uid, view_object.source_file.in_doctree_source_file_rel_path_posix, view_object.source_file, marker_) }}"
                >{%- if marker_.is_end() or marker_.is_line_marker() -%}/{%- endif -%}{{ req.uid }}</a>
            {%- endfor -%}
          {%- endfor -%}
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
  {%- else -%}
  <div style="text-align: center">
    Source file is empty.
  </div>
  {%- endif -%}
</div>
</div>{# /.main #}
