<div class="main">
{# todo: update this template #}
<div id="sourceContainer" class="source-file__source">
  {%- if view_object.pygmented_source_file_lines|length > 0 -%}
  <div id="source" class="source">
    {%- for line in view_object.pygmented_source_file_lines -%}
      <div data-line={{ loop.index }} id="line-{{ loop.index }}" class="source__line-number">
        <div class="source__line-filter">{% include "_res/svg_ico16_source_filter.jinja" %}</div>
        <pre>{{ loop.index }}</pre>
      </div>
      <div data-line={{ loop.index }} class="source__line-content">
        {%- if line.__class__.__name__ == "SourceMarkerTuple" -%}
          {# Note: Cannot format HTML/Jinja blocks within 'pre' tags! #}
          <pre class="sdoc-comment">{{ line.source_line }}</pre>
        {%- elif line != "" -%}
          {# <!-- Pygments --> #}
          <pre class="highlight">{{ line }}</pre>
        {%- else -%}
          <pre data-state="empty" style="user-select: none">&nbsp;</pre>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
  {%- else -%}
  <div style="text-align: center">
    Source file is empty.
  </div>
  {%- endif -%}
</div>
</div>{# /.main #}
