{#
{%- with
  begin=current_range_begin,
  end=current_range_end,
  href=current_marker_link
-%}
  {% include "screens/source_file_view/range_button.jinja" %}
{%- endwith -%}
#}

<a
  class="source__range-pointer action_button"
  data-begin="{{ begin }}"
  data-end="{{ end }}"
  href="{{ href }}"
>{{ begin }}-{{ end }}</a>
