{% extends "base.jinja.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ view_object.render_static_url('html2pdf4doc.css') }}"/>
{% endblock head_css %}

{% block title %}{{ view_object.document.title }} - {{ view_object.get_page_title() }}{% endblock title %}
{% block viewtype %}{{ "html2pdf" }}{% endblock viewtype %}

{% block main_content %}
  {% include "screens/document/pdf/main.jinja" %}
{% endblock main_content %}
