<div
  html2pdf-preloader
  class="main"
>
      <div
        html2pdf
        class="content"
      >

        {%- for section_or_requirement in document_iterator.all_content() %}

        {%- if section_or_requirement.is_requirement %}
          {%- set requirement = section_or_requirement %}
          {% include "components/requirement/pdf.jinja" %}

        {%- elif section_or_requirement.is_section %}
          {%- set section = section_or_requirement %}
          {% include "components/section/pdf.jinja" %}
        {%- endif %}

        {%- endfor %}

      </div>
</div>

<template html2pdf-frontpage>
  {#- add here frontpage html -#}
</template>
<template html2pdf-header>
  {#- uncomment html2pdf-page-number to print page numbers: -#}
  {#- <div html2pdf-page-number>
    <span html2pdf-page-number-current></span>/<span html2pdf-page-number-total></span>
  </div> -#}
  {#- add here header html -#}
</template>
<template html2pdf-footer>
  {#- uncomment html2pdf-page-number to print page numbers: -#}
  <div html2pdf-page-number>
    <span html2pdf-page-number-current></span>/<span html2pdf-page-number-total></span>
  </div>
  {#- add here footer html -#}
</template>
