{%- if view_object.has_any_nodes() -%}
  <div class="main" js-pan_with_space="true">
    {% include "_shared/tags.jinja.html" %}
      <div class="content">
        <sdoc-node>
        {% include "components/node_field/document_title/index.jinja" %}
        {% include "components/node_field/document_meta/index.jinja" %}
        </sdoc-node>

        {% include "screens/document/table/filter.jinja" %}

        <table class="content-view-table">
          <thead>
            <tr>
              <th class="content-view-th">Type</th>
              <th class="content-view-th">Level</th>
              {%- for meta_field_title in view_object.document.enumerate_table_meta_field_titles() -%}
                <th class="content-view-th">{{ meta_field_title }}</th>
              {%- endfor -%}
              <th class="content-view-th">REFS</th>
              <th class="content-view-th">Title</th>
              <th class="content-view-th">Statement</th>
              <th class="content-view-th">Rationale</th>
              <th class="content-view-th">Comment</th>
              {%- for content_field_title in view_object.document.enumerate_table_non_reserved_content_field_titles() -%}
                <th class="content-view-th">{{ content_field_title }}</th>
              {%- endfor -%}
            </tr>
          </thead>
          <tbody>
          {%- for node, _ in view_object.document_content_iterator() %}
            {%- if node.is_requirement() %}
              {%- set requirement = node %}
              <tr data-row-type="{{ node.node_type }}">
                <td class="content-view-td content-view-td-type">
                  {{ node.node_type }}
                </td>
                <td class="content-view-td content-view-td-meta">
                  {{ requirement.context.title_number_string }}
                </td>
                {%- for meta_field_title in view_object.document.enumerate_table_meta_field_titles() -%}
                  {%- set field_value = requirement.get_meta_field_value_by_title(meta_field_title) %}
                  {# Singleline fields are editable inline; multiline fields will get popup editing in a later stage. #}
                  {%- if view_object.is_table_cell_singleline(node.node_type, meta_field_title) %}
                  <td class="content-view-td content-view-td-meta"
                      data-node-mid="{{ requirement.reserved_mid }}"
                      data-field-name="{{ meta_field_title }}"
                      data-field-type="singleline"
                      data-current-value="{{ field_value if field_value else '' }}">
                    <div id="cell-{{ requirement.reserved_mid }}-{{ meta_field_title }}">
                      {%- if field_value -%}{{ field_value }}{%- endif -%}
                    </div>
                  </td>
                  {%- else %}
                  <td class="content-view-td content-view-td-meta"
                      data-node-mid="{{ requirement.reserved_mid }}"
                      data-field-name="{{ meta_field_title }}"
                      data-field-type="multiline">
                    <div id="cell-{{ requirement.reserved_mid }}-{{ meta_field_title }}">
                      {%- if field_value -%}{{ field_value }}{%- endif -%}
                    </div>
                  </td>
                  {%- endif %}
                {%- endfor -%}
                <td class="content-view-td content-view-td-meta content-view-td-related">
                  {%- if view_object.traceability_index.has_parent_requirements(requirement) %}
                    Parents:
                    <ul class="requirement__link">
                      {%- for requirement in view_object.traceability_index.get_parent_requirements(requirement) %}
                        <li>
                          <a class="requirement__link-parent"
                            href="{{ view_object.render_node_link(requirement) }}">
                            {%- if requirement.reserved_uid %}
                              <span class="requirement__parent-uid">{{ requirement.reserved_uid }}</span>
                            {%- endif %}
                            {{ requirement.reserved_title if requirement.reserved_title else "" }}
                          </a>
                        </li>
                      {%- endfor %}
                    </ul>
                  {%- endif %}
                  {%- if view_object.traceability_index.has_children_requirements(requirement) %}
                    Children:
                    <ul class="requirement__link">
                      {%- for requirement in view_object.traceability_index.get_children_requirements(requirement) %}
                        <li>
                          <a class="requirement__link-child"
                            href="{{ view_object.render_node_link(requirement) }}">
                            {%- if requirement.reserved_uid %}
                              <span class="requirement__child-uid">{{ requirement.reserved_uid }}</span>
                            {%- endif %}
                            {{ requirement.reserved_title if requirement.reserved_title else "" }}
                          </a>
                        </li>
                      {%- endfor %}
                    </ul>
                  {%- endif %}
                  {%- if view_object.project_config.is_activated_requirements_to_source_traceability() -%}
                    {%- set requirement_file_links = view_object.traceability_index.get_requirement_file_links(requirement) %}
                    {%- if requirement_file_links %}
                      Source files:
                      <ul class="requirement__link">
                        {%- for link, markers in requirement_file_links %}
                          {%- for marker in markers %}
                            <li>
                              <a class="requirement__link-file"
                                  href="{{ view_object.link_renderer.render_source_file_link(requirement, link) }}#{{ requirement.reserved_uid }}#{{ marker.ng_range_line_begin }}#{{ marker.ng_range_line_end }}">
                                {{ link }}, <i>lines: {{ marker.ng_range_line_begin }}-{{ marker.ng_range_line_end }}</i>
                              </a>
                            </li>
                          {%- endfor -%}
                        {%- endfor -%}
                      </ul>
                    {%- endif %}
                  {%- endif %}
                </td>
                <td class="content-view-td content-view-td-title"
                    data-node-mid="{{ requirement.reserved_mid }}"
                    data-field-name="TITLE"
                    data-field-type="singleline"
                    data-current-value="{{ requirement.reserved_title if requirement.reserved_title else '' }}">
                  <div id="cell-{{ requirement.reserved_mid }}-TITLE">
                    {%- if requirement.reserved_title %}
                      {%- with sdoc_entity=requirement -%}
                        {% include "components/anchor/index.jinja" %}
                      {%- endwith %}
                      <div class="requirement__title">{{ requirement.reserved_title }}</div>
                    {%- endif -%}
                  </div>
                </td>
                {%- if view_object.is_table_cell_multiline(node.node_type, "STATEMENT") %}
                <td class="content-view-td content-view-td-content"
                    data-node-mid="{{ requirement.reserved_mid }}"
                    data-field-name="STATEMENT"
                    data-field-type="multiline">
                  <div id="cell-{{ requirement.reserved_mid }}-STATEMENT">
                    {%- if requirement.has_reserved_statement() -%}
                      <sdoc-autogen>{{ view_object.render_node_statement(requirement) }}</sdoc-autogen>
                    {%- endif -%}
                  </div>
                </td>
                {%- else %}
                <td class="content-view-td content-view-td-content">
                  {%- if requirement.has_reserved_statement() -%}
                    <sdoc-autogen>{{ view_object.render_node_statement(requirement) }}</sdoc-autogen>
                  {%- endif -%}
                </td>
                {%- endif %}
                {%- if view_object.is_table_cell_multiline(node.node_type, "RATIONALE") %}
                <td class="content-view-td content-view-td-content"
                    data-node-mid="{{ requirement.reserved_mid }}"
                    data-field-name="RATIONALE"
                    data-field-type="multiline">
                  <div id="cell-{{ requirement.reserved_mid }}-RATIONALE">
                    {%- if requirement.rationale -%}
                      <sdoc-autogen>{{ view_object.render_node_rationale(requirement) }}</sdoc-autogen>
                    {%- endif -%}
                  </div>
                </td>
                {%- else %}
                <td class="content-view-td content-view-td-content">
                  {%- if requirement.rationale -%}
                    <sdoc-autogen>{{ view_object.render_node_rationale(requirement) }}</sdoc-autogen>
                  {%- endif -%}
                </td>
                {%- endif %}
                {%- if view_object.is_table_cell_multiline(node.node_type, "COMMENT") %}
                <td class="content-view-td content-view-td-content"
                    data-node-mid="{{ requirement.reserved_mid }}"
                    data-field-name="COMMENT"
                    data-field-type="multiline">
                  <div id="cell-{{ requirement.reserved_mid }}-COMMENT">
                    {%- for comment_field_ in requirement.get_comment_fields() -%}
                    <sdoc-autogen>{{ view_object.render_node_field(comment_field_) }}</sdoc-autogen>
                    {%- endfor -%}
                  </div>
                </td>
                {%- else %}
                <td class="content-view-td content-view-td-content">
                  {%- for comment_field_ in requirement.get_comment_fields() -%}
                  <sdoc-autogen>{{ view_object.render_node_field(comment_field_) }}</sdoc-autogen>
                  {%- endfor -%}
                </td>
                {%- endif %}
                {%- for content_field_title in view_object.document.enumerate_table_non_reserved_content_field_titles() -%}
                  {%- set field_value = requirement.get_meta_field_value_by_title(content_field_title) %}
                  {# Singleline fields are editable inline; multiline fields will get popup editing in a later stage. #}
                  {%- if view_object.is_table_cell_singleline(node.node_type, content_field_title) %}
                  <td class="content-view-td"
                      data-node-mid="{{ requirement.reserved_mid }}"
                      data-field-name="{{ content_field_title }}"
                      data-field-type="singleline"
                      data-current-value="{{ field_value if field_value else '' }}">
                    <div id="cell-{{ requirement.reserved_mid }}-{{ content_field_title }}">
                      {%- if field_value %}{{ field_value }}{%- endif -%}
                    </div>
                  </td>
                  {%- else %}
                  <td class="content-view-td"
                      data-node-mid="{{ requirement.reserved_mid }}"
                      data-field-name="{{ content_field_title }}"
                      data-field-type="multiline">
                    <div id="cell-{{ requirement.reserved_mid }}-{{ content_field_title }}">
                      {%- if field_value %}{{ field_value }}{%- endif -%}
                    </div>
                  </td>
                  {%- endif %}
                {%- endfor -%}
              </tr>
            {%- elif node.is_document() %}
              {%- set section = node %}
              <tr data-row-type="Section">
                <td class="content-view-td content-view-td-type">Section</td>
                <td class="content-view-td content-view-td-meta">{{ section.context.title_number_string }}</td>
                {%- for meta_field_title in view_object.document.enumerate_table_meta_field_titles() -%}
                  <td class="content-view-td content-view-td-meta"></td>
                {%- endfor -%}
                <td class="content-view-td content-view-td-meta">{# Children & Parents #}</td>
                <td class="content-view-td content-view-td-title" colspan="4">
                  {%- if section.title %}
                    {%- with sdoc_entity=section -%}
                      {% include "components/anchor/index.jinja" %}
                    {%- endwith %}
                    <div class="requirement__title">
                      {{ section.title }}
                    </div>
                    {%- for content_field_title in view_object.document.enumerate_table_non_reserved_content_field_titles() -%}
                      <td class="content-view-td">
                      </td>
                    {%- endfor -%}
                  {%- endif -%}
                </td>
              </tr>
            {%- endif %}
          {%- endfor %}
          </tbody>
        </table>
      </div>
      {# /.content #}
  </div>
  {# /.main #}
{%- else -%}
  <sdoc-main-placeholder data-testid="document-main-placeholder">
  This view is empty because
  <br />
  the document has no content.
  </sdoc-main-placeholder>
{%- endif -%}
