<turbo-frame data-controller="modal_controller">
  <sdoc-backdrop>
    <sdoc-modal>
      <sdoc-modal-container data-testid="table-tips-content">
        <p>Use the <strong>Columns</strong> panel to show or hide individual fields in the table.</p>
        <p>Use the <strong>Nodes</strong> panel to filter which node types are displayed in the table.</p>
      </sdoc-modal-container>
      {%- with cancel_name="Close" -%}
        {% include "components/button/cancel.jinja" %}
      {%- endwith -%}
    </sdoc-modal>
  </sdoc-backdrop>
</turbo-frame>
