{%- assert row_context is defined -%}
{%- assert row_context.errors is defined -%}

<sdoc-form-row
  {% block row_form_attributes %}
    {% assert 0, "Must not reach here!" %}
  {% endblock row_form_attributes %}
>
  <sdoc-form-row-aside>
    {% block row_left %}
      {% assert 0, "Must not reach here!" %}
    {% endblock row_left %}
  </sdoc-form-row-aside>

  <sdoc-form-row-main>
    {%- if row_context.errors|length > 0 -%}
      {%- for error_ in row_context.errors -%}
      <sdoc-form-error>
        {{ error_ }}
      </sdoc-form-error>
      {%- endfor -%}
    {%- endif -%}

    {% block row_content %}
      {% assert 0, "Must not reach here!" %}
    {% endblock row_content %}

  </sdoc-form-row-main>

  <sdoc-form-row-aside>
    {% block row_right %}
      {% assert 0, "Must not reach here!" %}
    {% endblock row_right %}
  </sdoc-form-row-aside>
</sdoc-form-row>
