<sdoc-form search
 {% if (error is none) and (search_results|length > 0) %}success{% endif %}
>

  <form
    action="/search"
    method="GET"
  >
      <input
        type="text"
        value="{{ search_value }}"
        placeholder="Enter search query here"
        id="q"
        name="q"
      />
      {% include "components/button/search.jinja" %}
  </form>

{%- if search_value|length > 0 -%}
  {%- if error is none -%}
    {%- if search_results|length == 0 -%}
      <div class="sdoc-form-success">Nothing matching the query was found.</div>
    {%- elif search_results|length > 0 -%}
      <div class="sdoc-form-success">Found <b>{{ search_results|length }}</b> results.</div>
    {%- endif -%}
  {%- else -%}
      <div class="sdoc-form-error">{{ error }}</div>
  {%- endif -%}
  <a class="sdoc-form-reset" href="{{ link_renderer.render_url('search') }}">Clear query</a>
{%- endif -%}
</sdoc-form>
