{%- if requirement.reserved_uid %}
  <sdoc-requirement-uid>
    {%- with field_content = requirement.reserved_uid %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </sdoc-requirement-uid>
{%- endif -%}
