{# title // required field for text node #}
{%- if text_node.reserved_title is not none -%}
<sdoc-section-title
  data-level="{{ text_node.context.title_number_string }}"
>
  {%-
      set h_level = text_node.ng_level + 1
      if text_node.ng_level < 6
      else 6
  -%}

  <h{{ h_level }}>
    {#- initiate the accumulating variable -#}
    {%- set field_content_ = "" -%}

    {%- if text_node.context.title_number_string -%}
      {#- add title 'number' part to the accumulator -#}
      {%- set field_content_ = field_content_ + text_node.context.title_number_string + ".&nbsp;" -%}
    {%- endif -%}

    {%- set title = text_node.reserved_title -%}
    {%- if title is not none -%}
      {#- add title 'value' part to the accumulator -#}
      {%- set field_content_ = field_content_ + title -%}
    {%- endif -%}

    {#- pass the variable to the component -#}
    {%- with field_content = field_content_ %}
      {%- include "components/field/index.jinja" -%}
    {%- endwith -%}
  </h{{ h_level }}>
</sdoc-section-title>
{%- endif -%}
